<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout::header">
    <meta charset="UTF-8"/>
    <title></title>
</head>

<link th:href="${@loginController.assetsServer} + '/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css'"
      rel="stylesheet"/>

<body th:with="df=#{date.format}">

<div id="wrapper" th:with="dtf=#{datetime.format}">
    <div th:replace="fragments/nav::nav">


    </div>
    <div id="page-wrapper" th:with="h5df=#{html5date.format}">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"
                    th:text="#{1st_hand_property_entry}">1st Hand Property Entry</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong th:text="#{property_entry_changes}">Property Entry Changes</strong>
                    </div>
                    <div class="panel-body">

                        <fieldset>
                            <legend th:text="#{property_info}">Property Info</legend>


                            <div th:replace="fragments/layout::messages"></div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" th:inline="text">
                                    <span th:class="${approved != null and not (approved.district.id eq entry.district.id)} ? 'text-danger' : ''">[[#{area}]]:</span>
                                </label>

                                <div class="col-md-9 form-control-static">
                                    <span th:text="${entry.district.nameTc}"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" th:inline="text">
                                    <span th:class="${approved != null and not (approved.hot eq entry.hot)} ? 'text-danger' : ''"> [[#{listed_as_hot_item}]]</span>
                                </label>

                                <div class="col-md-9  form-control-static">
                                    <div th:if="${entry.hot}" th:text="#{yes}"/>
                                    <div th:if="${!entry.hot}" th:text="#{no}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" th:inline="text">
                                    <span th:class="${approved != null and not (approved.hidden eq entry.hidden)} ? 'text-danger' : ''"> [[#{is_hidden}]]</span>
                                </label>

                                <div class="col-md-9  form-control-static">
                                    <div th:if="${entry.hidden}" th:text="#{yes}"/>
                                    <div th:if="${!entry.hidden}" th:text="#{no}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" th:inline="text">
                                    <span th:class="${approved != null and not (approved.hiddenForHkp eq entry.hiddenForHkp)} ? 'text-danger' : ''"> [[#{hidden_in_hkp}]]</span>
                                </label>

                                <div class="col-md-9  form-control-static">
                                    <div th:if="${entry.hiddenForHkp}" th:text="#{yes}"/>
                                    <div th:if="${!entry.hiddenForHkp}" th:text="#{no}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label"
                                       th:inline="text">[[#{unique_id}]]</label>

                                <div class="col-md-9 form-control-static">
                                    <div th:text="${entry.uid}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" th:inline="text">
                                    <span th:class="${approved != null and not (approved.nameTc eq entry.nameTc)} ? 'text-danger' : ''">[[#{property_name_tc}]]</span>
                                </label>

                                <div class="col-md-9 form-control-static">
                                    <span th:text="${entry.nameTc}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" th:inline="text">
                                    <span th:class="${approved != null and not (approved.nameEn eq entry.nameEn)} ? 'text-danger' : ''">[[#{property_name_en}]]</span>
                                </label>

                                <div class="col-md-9 form-control-static">
                                    <span th:text="${entry.nameEn}"></span>
                                </div>
                            </div>
                            <!--  <div class="form-group">
                                  <label class="col-md-3 control-label" th:inline="text">
                                      <span th:class="${approved != null and not (approved.nameSc eq entry.nameSc)} ? 'text-danger' : ''">[[#{property_name_sc}]]</span>
                                  </label>

                                  <div class="col-md-9 form-control-static">
                                      <span th:text="${entry.nameSc}"></span>
                                  </div>
                              </div>-->

                            <div class="form-group">
                                <label class="col-md-3 control-label" th:inline="text">
                                    <span th:class="${approved != null and not (approved.uploadFile eq entry.uploadFile)} ? 'text-danger' : ''">[[#{property_image}]]</span>
                                </label>

                                <div class="col-md-9 form-control-static">
                                    <div th:if="${entry.uploadFile != null}">
                                        <a href="#" target="_blank" th:href="${entry.imageUrl}">
                                            <span th:text="${entry.uploadFile.name}"></span></a>&nbsp;
                                        <span th:text="${entry.uploadFile.bytes}"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" th:inline="text">
                                    <span th:class="${approved != null and not (approved.youtube eq entry.youtube)} ? 'text-danger' : ''">[[#{youtube_link}]]</span>
                                </label>

                                <div class="col-md-9 form-control-static">
                                    <span th:text="${entry.youtube}"></span>
                                </div>
                            </div>


                            <div class="form-group form-control-static">
                                <label class="col-md-3 control-label" th:inline="text">
                                    <span th:class="${approved != null and not (approved.phaseNum eq entry.phaseNum)} ? 'text-danger' : ''">[[#{phase_num_tc}]]</span>
                                </label>

                                <div class="col-md-9 form-control-static">
                                    <span th:text="${entry.phaseNum}"></span>
                                </div>
                            </div>


                            <div class="form-group form-control-static">
                                <label class="col-md-3 control-label" th:inline="text">
                                    <span th:class="${approved != null and not (approved.phaseNumEn eq entry.phaseNumEn)} ? 'text-danger' : ''">[[#{phase_num_en}]]</span>
                                </label>

                                <div class="col-md-9 form-control-static">
                                    <span th:text="${entry.phaseNumEn}"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" th:inline="text">
                                    <span th:class="${approved != null and not (approved.phaseNameTc eq entry.phaseNameTc)} ? 'text-danger' : ''">[[#{phase_name_tc}]]</span>
                                </label>

                                <div class="col-md-9 form-control-static">
                                    <span th:text="${entry.phaseNameTc}"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" th:inline="text">
                                    <span th:class="${approved != null and not (approved.phaseNameEn eq entry.phaseNameEn)} ? 'text-danger' : ''">[[#{phase_name_en}]]</span>
                                </label>

                                <div class="col-md-9 form-control-static">
                                    <span th:text="${entry.phaseNameEn}"/>
                                </div>
                            </div>

                            <!-- <div class="form-group">
                                 <label class="col-md-3 control-label" th:inline="text">
                                     <span th:class="${approved != null and not (approved.phaseNameSc eq entry.phaseNameSc)} ? 'text-danger' : ''">[[#{phase_name_sc}]]</span>
                                 </label>

                                 <div class="col-md-9 form-control-static">
                                     <span th:text="${entry.phaseNameSc}"/>
                                 </div>
                             </div>-->


                            <div class="form-group">
                                <label class="col-md-3 control-label" th:inline="text">
                                    <span th:class="${approved != null and not (approved.devProjectTc eq entry.devProjectTc)} ? 'text-danger' : ''">[[#{dev_project_tc}]]</span>
                                </label>

                                <div class="col-md-9 form-control-static">
                                    <span th:text="${entry.devProjectTc}"></span>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-md-3 control-label" th:inline="text">
                                    <span th:class="${approved != null and not (approved.devProjectEn eq entry.devProjectEn)} ? 'text-danger' : ''">[[#{dev_project_en}]]</span>
                                </label>

                                <div class="col-md-9 form-control-static">
                                    <span th:text="${entry.devProjectEn}"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" th:inline="text">

                                    <span th:class="${approved != null and not (approved.areaTc eq entry.areaTc)} ? 'text-danger' : ''">[[#{dev_app_tc}]]</span>
                                </label>

                                <div class="col-md-9 form-control-static">
                                    <span th:text="${entry.areaTc}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" th:inline="text">

                                    <span th:class="${approved != null and not (approved.areaEn eq entry.areaEn)} ? 'text-danger' : ''">[[#{dev_app_en}]]</span>
                                </label>

                                <div class="col-md-9 form-control-static">
                                    <span th:text="${entry.areaEn}"/>
                                </div>
                            </div>

                            <!-- <div class="form-group">
                                 <label class="col-md-3 control-label" th:inline="text">

                                     <span th:class="${approved != null and not (approved.areaSc eq entry.areaSc)} ? 'text-danger' : ''">[[#{dev_app_sc}]]</span>
                                 </label>

                                 <div class="col-md-9 form-control-static">
                                     <span th:text="${entry.areaSc}"/>
                                 </div>
                             </div>-->

                            <div class="form-group">
                                <label class="col-md-3 control-label" th:inline="text">
                                    <span th:class="${approved != null and not (approved.addrTc eq entry.addrTc)} ? 'text-danger' : ''">[[#{addr_tc}]]</span>
                                </label>

                                <div class="col-md-9 form-control-static">
                                    <span th:text="${entry.addrTc}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" th:inline="text">
                                    <span th:class="${approved != null and not (approved.addrEn eq entry.addrEn)} ? 'text-danger' : ''">[[#{addr_en}]]</span>
                                </label>

                                <div class="col-md-9 form-control-static">
                                    <span th:text="${entry.addrEn}"/>
                                </div>
                            </div>

                            <!-- <div class="form-group">
                                 <label class="col-md-3 control-label" th:inline="text">
                                     <span th:class="${approved != null and not (approved.addrSc eq entry.addrSc)} ? 'text-danger' : ''">[[#{addr_sc}]]</span>
                                 </label>

                                 <div class="col-md-9 form-control-static">
                                     <span th:text="${entry.addrSc}"/>
                                 </div>
                             </div>-->


                            <div class="form-group">
                                <label class="col-md-3 control-label" th:inline="text">
                                    <span th:class="${approved != null and not (approved.developer.id eq entry.developer.id)} ? 'text-danger' : ''">[[#{developer}]]</span>
                                </label>

                                <div class="col-md-9 form-control-static">
                                    <span th:text="${entry.developer.getName(#locale)}"/>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-md-3 control-label" th:inline="text">
                                    <span th:class="${approved != null and (not (approved.lat eq entry.lat) or not (approved.lng eq entry.lng))} ? 'text-danger' : ''">[[#{google_map_latlng}]]</span>
                                </label>

                                <div class="col-md-9 form-control-static">
                                    <span th:text="${entry.lat}"/>
                                    ,
                                    <span th:text="${entry.lng}"/>

                                    <button class="btn btn-default"
                                            th:if="${!#strings.isEmpty(entry.lat) and !#strings.isEmpty(entry.lng)}"
                                            type="button"
                                            data-toggle="modal" data-target="#map_modal" th:text="#{show_map}">Show Map
                                    </button>
                                </div>
                            </div>

                            <div class="row form-group">
                                <label class="col-md-3 control-label" th:inline="text">
                                    <span th:class="${approved != null and not (approved.projectUrl eq entry.projectUrl)} ? 'text-danger' : ''">[[#{project_url}]]</span>
                                </label>

                                <div class="col-md-9 form-control-static">
                                    <span th:text="${entry.projectUrl}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" th:inline="text">
                                    <span th:class="${approved != null and not (approved.salesManualUrl eq entry.salesManualUrl)} ? 'text-danger' : ''">[[#{sales_manual_url}]]</span>
                                </label>

                                <div class="col-md-9 form-control-static">
                                    <span th:text="${entry.salesManualUrl}"/>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-md-3 control-label" th:inline="text">
                                    <span th:class="${approved != null and not (approved.keyDate eq entry.keyDate)} ? 'text-danger' : ''">[[#{key_date}]]</span>
                                </label>

                                <div class="col-md-9 form-control-static">
                                    <span th:text="${entry.keyDate == null ? '' : #calendars.format(entry.keyDate, df)}"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" th:inline="text">
                                    <span th:class="${approved != null and not (approved.kindergartenSchoolNetwork eq entry.kindergartenSchoolNetwork)} ? 'text-danger' : ''">[[#{kindergarten_school_network_tc}]]</span>
                                </label>

                                <div class="col-md-9 form-control-static">
                                    <span th:text="${entry.kindergartenSchoolNetwork}"/>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-md-3 control-label" th:inline="text">
                                    <span th:class="${approved != null and not (approved.kindergartenSchoolNetworkEn eq entry.kindergartenSchoolNetworkEn)} ? 'text-danger' : ''">
                                        [[#{kindergarten_school_network_en}]]
                                    </span>
                                </label>

                                <div class="col-md-9 form-control-static">
                                    <span th:text="${entry.kindergartenSchoolNetworkEn}"/>
                                </div>
                            </div>

                            <!--<div class="form-group">
                                <label class="col-md-3 control-label" th:inline="text">
                                    <span th:class="${approved != null and not (approved.kindergartenSchoolNetworkSc eq entry.kindergartenSchoolNetworkSc)} ? 'text-danger' : ''">
                                        [[#{kindergarten_school_network_sc}]]
                                    </span>
                                </label>

                                <div class="col-md-9 form-control-static">
                                    <span th:text="${entry.kindergartenSchoolNetworkSc}"/>
                                </div>
                            </div>-->

                            <div class="form-group">
                                <label class="col-md-3 control-label" th:inline="text">
                                    <span th:class="${approved != null and not (approved.primarySchoolNetwork eq entry.primarySchoolNetwork)} ? 'text-danger' : ''">[[#{primary_school_network_tc}]]</span>
                                </label>

                                <div class="col-md-9 form-control-static">
                                    <span th:text="${entry.primarySchoolNetwork}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" th:inline="text">
                                    <span th:class="${approved != null and not (approved.primarySchoolNetworkEn eq entry.primarySchoolNetworkEn)} ? 'text-danger' : ''">
                                        [[#{primary_school_network_en}]]
                                    </span>
                                </label>

                                <div class="col-md-9 form-control-static">
                                    <span th:text="${entry.primarySchoolNetworkEn}"/>
                                </div>
                            </div>

                            <!-- <div class="form-group">
                                 <label class="col-md-3 control-label" th:inline="text">
                                     <span th:class="${approved != null and not (approved.primarySchoolNetworkSc eq entry.primarySchoolNetworkSc)} ? 'text-danger' : ''">
                                         [[#{primary_school_network_sc}]]
                                     </span>
                                 </label>

                                 <div class="col-md-9 form-control-static">
                                     <span th:text="${entry.primarySchoolNetworkSc}"/>
                                 </div>
                             </div>-->

                            <div class="form-group">
                                <label class="col-md-3 control-label" th:inline="text">
                                    <span th:class="${approved != null and not (approved.secondarySchoolNetwork eq entry.secondarySchoolNetwork)} ? 'text-danger' : ''">[[#{secondary_school_network_tc}]]</span>
                                </label>

                                <div class="col-md-9 form-control-static">
                                    <span th:text="${entry.secondarySchoolNetwork}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" th:inline="text">
                                    <span th:class="${approved != null and not (approved.secondarySchoolNetworkEn eq entry.secondarySchoolNetworkEn)} ? 'text-danger' : ''">
                                        [[#{secondary_school_network_en}]]
                                    </span>
                                </label>

                                <div class="col-md-9 form-control-static">
                                    <span th:text="${entry.secondarySchoolNetworkEn}"/>
                                </div>
                            </div>

                            <!-- <div class="form-group">
                                 <label class="col-md-3 control-label" th:inline="text">
                                     <span th:class="${approved != null and not (approved.secondarySchoolNetworkSc eq entry.secondarySchoolNetworkSc)} ? 'text-danger' : ''">
                                         [[#{secondary_school_network_sc}]]
                                     </span>
                                 </label>

                                 <div class="col-md-9 form-control-static">
                                     <span th:text="${entry.secondarySchoolNetworkSc}"/>
                                 </div>
                             </div>-->


                            <div class="form-group">
                                <label class="col-md-3 control-label" th:inline="text">
                                    <span th:class="${approved != null and not (approved.status eq entry.status)} ? 'text-danger' : ''">[[#{status}]]</span>
                                </label>

                                <div class="col-md-9 form-control-static">
                                    <span th:text="${@loginController.entryStatus(entry.status)}"/>
                                </div>
                            </div>


                        </fieldset>


                        <fieldset>
                            <legend th:inline="text"><a name="date"/>[[#{sales_manual}]]:</legend>

                            <div class="form-group">
                                <label class="col-md-3 control-label" th:inline="text">
                                    <span th:class="${approved != null and not (approved.printDate eq entry.printDate)} ? 'text-danger' : ''">[[#{first_print_date}]]:</span>
                                </label>

                                <div class="col-md-9 form-control-static"><span
                                        th:text="${entry.printDate != null ? #calendars.format(entry.printDate, df) : ''}"/>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" th:inline="text">
                                    <span th:class="${approved != null and not (approved.viewDate eq entry.viewDate)} ? 'text-danger' : ''">[[#{view_date}]]:</span>
                                </label>

                                <div class="col-md-9 form-control-static">
                                    <span th:text="${entry.viewDate != null ? #calendars.format(entry.viewDate, df) : ''}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" th:inline="text">
                                    <span th:class="${approved != null and not (approved.docUrlSb eq entry.docUrlSb)} ? 'text-danger' : ''">[[#{url_hdr_sb}]]:</span>
                                </label>

                                <div class="col-md-9 form-control-static">
                                    <span th:text="${entry.docUrlSb}"/>
                                </div>
                            </div>


                            <div class="col-lg-12" id="vrs">

                                <div class="panel panel-default">
                                    <div class="panel-heading" th:inline="text">
                                        <a name="vr"/><strong>[[#{view_record}]]:</strong>
                                    </div>
                                    <div class="panel-body">

                                        <div id="vr_result"></div>
                                        <div class=" table-striped table-hover">
                                            <table class="table doc_table" doc-type="vr">
                                                <thead>
                                                <tr>
                                                    <th th:text="#{name_tc}">Name (TC)</th>
                                                    <th th:text="#{name_en}">Name (EN)</th>
                                                    <!-- <th th:text="#{name_sc}">Name (SC)</th>-->
                                                    <th th:text="#{file}">File</th>
                                                    <th width="10%" th:text="#{upload_time}">Upload Time</th>
                                                    <th width="10%" th:text="#{file_size}">File Size</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="doc : ${docMap['vr']}"
                                                    th:class="${doc.changed} ? 'text-danger' : ''">
                                                    <td th:text="${doc.nameTc}">Name (TC)</td>
                                                    <td th:text="${doc.nameEn}">Name (EN)</td>
                                                    <!--<td th:text="${doc.nameSc}">Name (SC)</td>-->
                                                    <td>
                                                        <a th:href="${#strings.isEmpty(doc.fileUrl)} ? '#' : ${doc.fileUrl}"
                                                           target="_blank" th:text="${doc.file.name}">File</a></td>
                                                    <td th:text="${doc.created == null} ? '' : ${#calendars.format(doc.created, dtf)}">
                                                        Upload Time
                                                    </td>
                                                    <td th:text="${doc.file.bytes}">File Size</td>
                                                </tr>
                                                <tr th:if="${#lists.isEmpty(docMap['vr'])}">
                                                    <td colspan="5"
                                                        th:text="#{no_record_found}">No Record Found
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <!-- sales_manual_part -->

                            <div class="col-lg-12" id="mp_tc">

                                <div class="panel panel-default">
                                    <div class="panel-heading" th:inline="text">
                                        <a name="mp"/><strong>[[#{sales_manual_part}]]:</strong>
                                    </div>
                                    <div class="panel-body">

                                        <div id="mp_result"></div>
                                        <div class=" table-striped table-hover">
                                            <table class="table doc_table" doc-type="mp">
                                                <thead>
                                                <tr>
                                                    <th th:text="#{name_tc}">Name (TC)</th>
                                                    <th th:text="#{name_en}">Name (EN)</th>
                                                    <!--<th th:text="#{name_sc}">Name (SC)</th>-->
                                                    <th th:text="#{file}">File</th>
                                                    <th width="10%" th:text="#{upload_time}">Upload Time</th>
                                                    <th width="10%" th:text="#{file_size}">File Size</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="doc : ${docMap['mp']}"
                                                    th:class="${doc.changed} ? 'text-danger' : ''">
                                                    <td th:text="${doc.nameTc}">Name (TC)</td>
                                                    <td th:text="${doc.nameEn}">Name (EN)</td>
                                                    <!--<td th:text="${doc.nameSc}">Name (SC)</td>-->
                                                    <td>
                                                        <a th:href="${#strings.isEmpty(doc.fileUrl)} ? '#' : ${doc.fileUrl}"
                                                           target="_blank" th:text="${doc.file.name}">File</a></td>
                                                    <td th:text="${doc.created == null} ? '' : ${#calendars.format(doc.created, dtf)}">
                                                        Upload Time
                                                    </td>
                                                    <td th:text="${doc.file.bytes}">File Size</td>
                                                </tr>
                                                <tr th:if="${#lists.isEmpty(docMap['mp'])}">
                                                    <td colspan="5"
                                                        th:text="#{no_record_found}">No Record Found
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <!-- sales_manual_part -->


                            <!-- sales_manual_full -->

                            <div class="col-lg-12" id="mp_tc">

                                <div class="panel panel-default">
                                    <div class="panel-heading" th:inline="text">
                                        <a name="mp"/><strong>[[#{sales_manual_full}]]:</strong>
                                    </div>
                                    <div class="panel-body">

                                        <div id="mf_result"></div>
                                        <div class=" table-striped table-hover">
                                            <table class="table doc_table" doc-type="mf">
                                                <thead>
                                                <tr>
                                                    <th th:text="#{name_tc}">Name (TC)</th>
                                                    <th th:text="#{name_en}">Name (EN)</th>
                                                    <!--<th th:text="#{name_sc}">Name (SC)</th>-->
                                                    <th th:text="#{file}">File</th>
                                                    <th width="10%" th:text="#{upload_time}">Upload Time</th>
                                                    <th width="10%" th:text="#{file_size}">File Size</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="doc : ${docMap['mf']}"
                                                    th:class="${doc.changed} ? 'text-danger' : ''">
                                                    <td th:text="${doc.nameTc}">Name (TC)</td>
                                                    <td th:text="${doc.nameEn}">Name (EN)</td>
                                                    <!--<td th:text="${doc.nameSc}">Name (SC)</td>-->
                                                    <td>
                                                        <a th:href="${#strings.isEmpty(doc.fileUrl)} ? '#' : ${doc.fileUrl}"
                                                           target="_blank" th:text="${doc.file.name}">File</a></td>
                                                    <td th:text="${doc.created == null} ? '' : ${#calendars.format(doc.created, dtf)}">
                                                        Upload Time
                                                    </td>
                                                    <td th:text="${doc.file.bytes}">File Size</td>
                                                </tr>
                                                <tr th:if="${#lists.isEmpty(docMap['mf'])}">
                                                    <td colspan="5"
                                                        th:text="#{no_record_found}">No Record Found
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- sales_manual_full -->
                        </fieldset>
                        <!-- price_list -->

                        <fieldset>
                            <legend th:inline="text">[[#{price_list}]]:</legend>


                            <div class="form-group">
                                <label class="col-md-3 control-label" th:inline="text">
                                    <span th:class="${approved != null and not (approved.docUrlPl eq entry.docUrlPl)} ? 'text-danger' : ''">[[#{url_hdr_pl}]]:</span>
                                </label>

                                <div class="col-md-9 form-control-static">
                                    <span th:text="${entry.docUrlPl}"/>
                                </div>
                            </div>

                            <div class="col-lg-12" id="mp_tc">

                                <div class="panel panel-default">
                                    <div class="panel-heading" th:inline="text">
                                        <a name="mp"/><strong>[[#{price_list}]]:</strong>
                                    </div>
                                    <div class="panel-body">
                                        <div id="pl_result"></div>
                                        <div class=" table-striped table-hover">
                                            <table class="table doc_table" doc-type="pl">
                                                <thead>
                                                <tr>
                                                    <th th:text="#{name_tc}">Name (TC)</th>
                                                    <th th:text="#{name_en}">Name (EN)</th>
                                                    <!--<th th:text="#{name_sc}">Name (SC)</th>-->
                                                    <th th:text="#{print_date}">Print Date</th>
                                                    <th th:text="#{file}">File</th>
                                                    <th width="10%" th:text="#{upload_time}">Upload Time</th>
                                                    <th width="10%" th:text="#{file_size}">File Size</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="doc : ${docMap['pl']}"
                                                    th:class="${doc.changed} ? 'text-danger' : ''">
                                                    <td th:text="${doc.nameTc}">Name (TC)</td>
                                                    <td th:text="${doc.nameEn}">Name (EN)</td>
                                                    <!--<td th:text="${doc.nameSc}">Name (SC)</td>-->
                                                    <td th:text="${doc.printDate == null} ? '' : ${#calendars.format(doc.printDate, df)}">
                                                        Print Date
                                                    </td>
                                                    <td>
                                                        <a th:href="${#strings.isEmpty(doc.fileUrl)} ? '#' : ${doc.fileUrl}"
                                                           target="_blank" th:text="${doc.file.name}">File</a></td>
                                                    <td th:text="${doc.created == null} ? '' : ${#calendars.format(doc.created, dtf)}">
                                                        Upload Time
                                                    </td>
                                                    <td th:text="${doc.file.bytes}">File Size</td>
                                                </tr>
                                                <tr th:if="${#lists.isEmpty(docMap['pl'])}">
                                                    <td colspan="5"
                                                        th:text="#{no_record_found}">No Record Found
                                                    </td>
                                                </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- price_list -->

                        </fieldset>
                        <!-- sales_arrangement -->
                        <fieldset>
                            <legend th:inline="text">[[#{sales_arrangement}]]:</legend>


                            <div class="form-group">
                                <label class="col-md-3 control-label" th:inline="text">
                                    <span th:class="${approved != null and not (approved.docUrlSa eq entry.docUrlSa)} ? 'text-danger' : ''">[[#{url_hdr_sa}]]:</span>
                                </label>

                                <div class="col-md-9 form-control-static">
                                    <span th:text="${entry.docUrlSa}"/>
                                </div>
                            </div>

                            <div class="col-lg-12" id="mp_tc">

                                <div class="panel panel-default">
                                    <div class="panel-heading" th:inline="text">
                                        <a name="mp"/><strong>[[#{sales_arrangement}]]:</strong>
                                    </div>
                                    <div class="panel-body">
                                        <div id="sa_result"></div>
                                        <div class=" table-striped table-hover">
                                            <table class="table doc_table" doc-type="sa">
                                                <thead>
                                                <tr>
                                                    <th th:text="#{name_tc}">Name (TC)</th>
                                                    <th th:text="#{name_en}">Name (EN)</th>
                                                    <!--<th th:text="#{name_sc}">Name (SC)</th>-->
                                                    <th th:text="#{update_date}">Update Date</th>
                                                    <th th:text="#{sales_info_post_date}">Post Date</th>
                                                    <th th:text="#{file}">File</th>
                                                    <th width="10%" th:text="#{upload_time}">Upload Time</th>
                                                    <th width="10%" th:text="#{file_size}">File Size</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="doc : ${docMap['sa']}"
                                                    th:class="${doc.changed} ? 'text-danger' : ''">
                                                    <td th:text="${doc.nameTc}">Name (TC)</td>
                                                    <td th:text="${doc.nameEn}">Name (EN)</td>
                                                    <!--<td th:text="${doc.nameSc}">Name (SC)</td>-->
                                                    <td th:text="${doc.updateDate == null} ? '' : ${#calendars.format(doc.updateDate, df)}">
                                                        Update Date
                                                    </td>
                                                    <td th:text="${doc.postDate == null} ? '' : ${#calendars.format(doc.postDate, df)}">
                                                        Post Date
                                                    </td>
                                                    <td>
                                                        <a th:href="${#strings.isEmpty(doc.fileUrl)} ? '#' : ${doc.fileUrl}"
                                                           target="_blank" th:text="${doc.file.name}">File</a></td>
                                                    <td th:text="${doc.created == null} ? '' : ${#calendars.format(doc.created, dtf)}">
                                                        Upload Time
                                                    </td>
                                                    <td th:text="${doc.file.bytes}">File Size</td>
                                                </tr>
                                                <tr th:if="${#lists.isEmpty(docMap['sa'])}">
                                                    <td colspan="5"
                                                        th:text="#{no_record_found}">No Record Found
                                                    </td>
                                                </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>


                        </fieldset>
                        <!-- sales_arrangement -->


                        <!-- completed_record -->
                        <fieldset>
                            <legend th:inline="text">[[#{completed_record}]]:</legend>


                            <div class="form-group">
                                <label class="col-md-3 control-label" th:inline="text">
                                    <span th:class="${approved != null and not (approved.docUrlCr eq entry.docUrlCr)} ? 'text-danger' : ''">[[#{url_hdr_cr}]]:</span>
                                </label>

                                <div class="col-md-9 form-control-static">
                                    <span th:text="${entry.docUrlCr}"/>
                                </div>
                            </div>
                            <div class="col-lg-12" id="mp_tc">

                                <div class="panel panel-default">
                                    <div class="panel-heading" th:inline="text">
                                        <a name="mp"/><strong>[[#{completed_record}]]:</strong>
                                    </div>
                                    <div class="panel-body">
                                        <div id="cr_result"></div>
                                        <div class=" table-striped table-hover">
                                            <table class="table doc_table" doc-type="cr">
                                                <thead>
                                                <tr>
                                                    <th th:text="#{name_tc}">Name (TC)</th>
                                                    <th th:text="#{name_en}">Name (EN)</th>
                                                    <!--<th th:text="#{name_sc}">Name (SC)</th>-->
                                                    <th th:text="#{file}">File</th>
                                                    <th width="10%" th:text="#{upload_time}">Upload Time</th>
                                                    <th width="10%" th:text="#{file_size}">File Size</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="doc : ${docMap['cr']}"
                                                    th:class="${doc.changed} ? 'text-danger' : ''">
                                                    <td th:text="${doc.nameTc}">Name (TC)</td>
                                                    <td th:text="${doc.nameEn}">Name (EN)</td>
                                                    <!--<td th:text="${doc.nameSc}">Name (SC)</td>-->
                                                    <td>
                                                        <a th:href="${#strings.isEmpty(doc.fileUrl)} ? '#' : ${doc.fileUrl}"
                                                           target="_blank" th:text="${doc.file.name}">File</a></td>
                                                    <td th:text="${doc.created == null} ? '' : ${#calendars.format(doc.created, dtf)}">
                                                        Upload Time
                                                    </td>
                                                    <td th:text="${doc.file.bytes}">File Size</td>
                                                </tr>
                                                <tr th:if="${#lists.isEmpty(docMap['cr'])}">
                                                    <td colspan="5"
                                                        th:text="#{no_record_found}">No Record Found
                                                    </td>
                                                </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>


                        </fieldset>

                        <fieldset>
                            <legend th:inline="text"
                                    th:class="${approved != null and not (approved.mortage eq entry.mortage)} ? 'text-danger' : ''">
                                [[#{mortage}]]:
                            </legend>


                            <div class="col-md-12">
                                <div th:remove="tag" th:utext="${entry.mortage}">Mortage</div>
                            </div>

                        </fieldset>


                        <fieldset>
                            <legend style="border: none">&nbsp;</legend>
                            <div class="row">
                                <div class="col-md-12 center">
                                    <button class="btn  btn-lg btn-default" th:text="#{approve}" type="button"
                                            style="margin-right: 20px" th:if="${'P' eq entry.status}"
                                            data-toggle="modal" data-target="#approve_modal">
                                        Approve
                                    </button>
                                    <a class="btn  btn-lg btn-default" th:text="#{edit}"
                                       th:href="@{'/cms/entry/edit/' + ${entry.id}}" style="margin-right: 20px"
                                       th:if="${'P' eq entry.status or 'A' eq entry.status}">
                                        Edit
                                    </a>
                                    <button class="btn  btn-lg btn-default" th:text="#{reject}" type="button"
                                            th:if="${'P' eq entry.status}" data-toggle="modal"
                                            data-target="#reject_modal">
                                        Reject
                                    </button>
                                </div>
                            </div>
                        </fieldset>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="map_modal" tabindex="-1" role="dialog"
     aria-labelledby="map_modal_label" aria-hidden="true" data-show="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="map_modal_label">Google Map</h4>
            </div>
            <div class="modal-body">

                <div id="map" style="width: 100%;height: 500px"></div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                        th:text="#{ok}">Ok
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="approve_modal" tabindex="-1" role="dialog" aria-labelledby="approve_modal_label"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="approve_modal_label">Confirm Approve</h4>
            </div>
            <div class="modal-body">
                Confirm Approve?
            </div>
            <div class="modal-footer">
                <form id="approve_form" role="form" th:action="@{'/cms/approval/approve/' + ${entry.id}}"
                      method="post"></form>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="approve_button" onclick="$('#approve_form').submit()">
                    Confirm
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="reject_modal" tabindex="-1" role="dialog" aria-labelledby="reject_modal_label"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="reject_modal_label">Confirm Approve</h4>
            </div>
            <div class="modal-body">
                Confirm Reject?
            </div>
            <div class="modal-footer">
                <form id="reject_form" role="form" th:action="@{'/cms/approval/reject/' + ${entry.id}}"
                      method="post"></form>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="reject_button" onclick="$('#reject_form').submit()">
                    Confirm
                </button>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/layout::footer_script"></div>

<script th:src="@{https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false}"
        th:if="not ('zh_CN' eq ${#locale.language + '_' + #locale.country})"></script>
<script th:src="@{http://ditu.google.cn/maps/api/js?sensor=false&amp;language=zh-CN}"
        th:if="'zh_CN' eq ${#locale.language + '_' + #locale.country}"></script>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    var map;
    var marker = null;
    var centerLat = 22.381825343914965, centerLng = 114.11361694335938;//center on hk

    var centerLatlng = window.google ? new google.maps.LatLng(centerLat, centerLng) : '';

    function initMap() {

        if (!window.google) {
            return;
        }

        var lat = /*[[${entry.lat}]]*/'';
        var lng = /*[[${entry.lng}]]*/'';
        if (!lat || !lng) {
            return;
        }

        var mapOptions = {
            zoom: 10,
            disableDefaultUI: false,
            center: centerLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        map = new google.maps.Map(document.getElementById('map'), mapOptions);


        if (lat.length > 0 && lng.length > 0) {

            if (marker) {
                marker.setMap(null);
            }
            centerLatlng = new google.maps.LatLng(lat, lng);
            marker = new google.maps.Marker({position: centerLatlng, map: map});
            map.setCenter(centerLatlng);
        }
    }


    $(document).ready(function () {
        initMap();
    });

    var firstShow = true;

    $('#map_modal').on('shown.bs.modal', function () {
        google.maps.event.trigger(map, "resize");

        if (firstShow) {
            map.setCenter(centerLatlng);
            firstShow = false;
        }
    });

    /*]]>*/
</script>


</body>
</html>