<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/layout::header">
    <meta charset="UTF-8"/>
    <title></title>
</head>

<body th:with="df=#{datetime.format}">
<div id="wrapper">

    <div th:replace="fragments/nav::nav">

    </div>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" th:text="#{admin_approval}">Admin Approval</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div th:replace="fragments/layout::messages">
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong th:text="#{pending_request}">Pending Request</strong>
                    </div>
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <table class="table table-striped table-hover" id="dataTables">
                                <thead>
                                <tr>
                                    <th th:text="#{unique_id}">Unique ID</th>
                                    <th th:text="#{name_tc}">Property Entry</th>
                                    <th th:text="#{name_en}">Property Entry</th>
                                    <th th:text="#{is_hide}">is hide</th>
                                    <th th:text="#{hidden_in_hkp}">is hide</th>
                                    <th th:text="#{creation_time}">Creation Time</th>
                                    <th th:text="#{time_modified}">Time Modified</th>
                                    <th th:text="#{status}">Status</th>
                                    <th th:text="#{review}">Review</th>
                                    <th th:text="#{delete}">Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<form id="delete-entry-form" th:action="@{/cms/approval/delete}" method="post" sec:authorize="hasRole('ROLE_ADMIN')">
    <div class="modal fade" id="delete-entry-modal" tabindex="-1" role="dialog"
         aria-labelledby="delete-entry-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="delete-entry-modal-label">Confirm Delete</h4>
                </div>
                <div class="modal-body" th:text="#{confirm_delete_this_property}">
                    Confirm Logout?
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>
    <input id="entry-id" type="hidden" name="id" value=""/>
</form>

<div th:replace="fragments/layout::footer_script"></div>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    var pending = /*[[${param.pending != null}]]*/false;

    function entryStatus(status) {
        if ('A' == status) {
            return /*[[#{Entry.status.A}]]*/'Approved';
        } else if ('P' == status) {
            return /*[[#{Entry.status.P}]]*/'Pending';
        } else if ('R' == status) {
            return /*[[#{Entry.status.R}]]*/'Rejected';
        }
        return '';
    }

    function approvalDataTableConfirg() {
        var url = cp + "/rest/entry/search/findByNameAndStatus";
        var aoColumns = [
            {"mDataProp": "uid"},
            {"mDataProp": "nameTc"},
            {"mDataProp": "nameEn"},
            {
                "mDataProp": "hidden",
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).html(oData.hidden?'Yes':'No');
                }
            },
            {
                "mDataProp": "hiddenForHkp",
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).html(oData.hiddenForHkp?'Yes':'No');
                }
            },
            {
                "mDataProp": "created",
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).html(showDateFormat(oData.created, dateTimeFormat));
                }
            },
            {
                "mDataProp": "modified",
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).html(showDateFormat(oData.modified, dateTimeFormat));
                }
            },
            {
                "mDataProp": "status",
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).html(entryStatus(oData.status));
                }
            },
            {
                "mDataProp": "id",
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).html('<a href="' + cp + '/cms/approval/review/' + oData.id + '"><i class="fa fa-check-square-o fa-2x"/></a>');
                }
            },
            {
                "mDataProp": "id",
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).html('<a href="javascript:deleteEntry(' + oData.id + ')"><i class="fa fa-trash-o fa-2x"/></a>');
                }
            }
        ]

        return dataTableConfig(url, true, true, true, true, true, aoColumns, [{
            'orderable': false,
            aTargets: [7, 8]
        }], [[5, 'desc']]);
    }

    datatable2Rest = function (sSource, aoData, fnCallback) {

        //extract name/value pairs into a simpler map for use later
        var paramMap = {};
        for (var i = 0; i < aoData.length; i++) {
            paramMap[aoData[i].name] = aoData[i].value;
        }

        //page calculations
        var pageSize = paramMap.iDisplayLength;
        var start = paramMap.iDisplayStart;
        var pageNum = (start == 0) ? 1 : (start / pageSize) + 1; // pageNum is 1 based

        // extract sort information
        var sortCol = paramMap.iSortCol_0;
        var sortDir = paramMap.sSortDir_0;
        var sortName = paramMap['mDataProp_' + sortCol];
        var echo = paramMap['sEcho'];

        //create new json structure for parameters for REST request
        var restParams = new Array();
        restParams.push({"name": "size", "value": pageSize});
        restParams.push({"name": "page", "value": pageNum - 1});
        if (sortName && sortName.length > 0) {
            if (sortDir && sortDir.length > 0) {
                sortName += ("," + sortDir);
            }
            restParams.push({"name": "sort", "value": sortName});
        }
        restParams.push({"name": "sEcho", "value": echo});

        var url = sSource;
        if (paramMap.sSearch != '') {
            restParams.push({"name": "name", "value": paramMap.sSearch});
        }


        var selectedStatus = $('.dataTables_status select option:selected').val();

        if (selectedStatus === undefined && pending) {
            selectedStatus = "P";
        }

        if (selectedStatus && selectedStatus.length > 0) {
            restParams.push({"name": "status", "value": selectedStatus});
        }

        //finally, make the request
        $.ajax({
            "dataType": 'json',
            "type": "GET",
            "url": url,
            "data": restParams,
            "success": function (data) {
                data.iTotalRecords = data.data.totalElements;
                data.iTotalDisplayRecords = data.data.totalElements;

                fnCallback(data);
            }
        });
    };

    function deleteEntry(id) {
        $('#delete-entry-form #entry-id').val(id);
        $('#delete-entry-modal').modal('show');
    }

    $(document).ready(function () {

        var config = approvalDataTableConfirg();

        config['dom'] = '<"row"<"col-sm-4"l><"col-sm-4"<"dataTables_status">><"col-sm-4"f>>tr<"row"<"col-sm-6"i><"col-sm-6"p>>';

        var table = $('#dataTables').dataTable(config);


        $("div.dataTables_status").html('<label>' + /*[[#{status_filter}]]*/'Status Filter'
                + ': <select name="dataTables_status" aria-controls="dataTables" class="form-control input-sm">' +
                '<option value="">-</option>' +
                '<option value="A">' + entryStatus('A') + '</option>' +
                '<option value="P" ' + (pending ? " selected" : "") + '>' + entryStatus('P') + '</option>' +
                '<option value="R">' + entryStatus('R') + '</option>' +
                '</select></label>');

        $('.dataTables_status select').change(function () {
            /*
             var input = $('.dataTables_length select');
             console.log(input);
             input.trigger('change');
             */
            table._fnAjaxUpdate();
        });
    });

    /*]]>*/
</script>

</body>
</html>