<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header" th:with="defaultTitle=#{1st_hand_property_cms}"
      th:lang="${#locale.language + '_' + #locale.country}">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>


    <link th:href="${@loginController.assetsServer} + '/bower_components/bootstrap/dist/css/bootstrap.min.css'"
          rel="stylesheet"/>

    <link th:href="${@loginController.assetsServer} + '/bower_components/metisMenu/dist/metisMenu.min.css'"
          rel="stylesheet"/>


    <link th:href="${@loginController.assetsServer} + '/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css'"
          rel="stylesheet"/>

    <link th:href="${@loginController.assetsServer} + '/bower_components/sb-admin-2/dist/css/timeline.css'"
          rel="stylesheet"/>

    <link th:href="${@loginController.assetsServer} + '/bower_components/sb-admin-2/dist/css/sb-admin-2.css'"
          rel="stylesheet"/>

    <link th:href="${@loginController.assetsServer} + '/bower_components/morrisjs/morris.css'" rel="stylesheet"/>

    <link th:href="${@loginController.assetsServer} + '/bower_components/font-awesome/css/font-awesome.min.css'"
          rel="stylesheet"/>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title th:text="${pageTitle == null ? defaultTitle : pageTitle}"></title>
</head>
<body>

<div th:remove="tag" th:fragment="footer_script">
    <!-- jQuery -->
    <script th:src="${@loginController.assetsServer} + '/bower_components/jquery/dist/jquery.min.js'"></script>

    <!-- Bootstrap Core JavaScript -->
    <script th:src="${@loginController.assetsServer} + '/bower_components/bootstrap/dist/js/bootstrap.min.js'"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script th:src="${@loginController.assetsServer} + '/bower_components/metisMenu/dist/metisMenu.min.js'"></script>

    <!-- Morris Charts JavaScript -->
    <script th:src="${@loginController.assetsServer} + '/bower_components/raphael/raphael-min.js'"></script>

    <script th:src="${@loginController.assetsServer} + '/bower_components/morrisjs/morris.min.js'"></script>

    <script th:src="${@loginController.assetsServer} + '/bower_components/datatables/media/js/jquery.dataTables.min.js'"></script>
    <script th:src="${@loginController.assetsServer} + '/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js'"></script>

    <script th:src="${@loginController.assetsServer} + '/bower_components/jquery-dateFormat/dist/jquery-dateFormat.min.js'"
            type="text/javascript"/>
    <!-- Custom Theme JavaScript -->
    <script th:src="${@loginController.assetsServer} + '/bower_components/sb-admin-2/dist/js/sb-admin-2.js'"></script>


    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

        var cp = /*[[${#httpServletRequest.contextPath}]]*/'';
        var serverError = /*[[#{server.error}]]*/'server error';

        var lang = 0;

        if(/*[[${'en' eq #locale.language}]]*/false){
            lang = 1;
        }

        if(/*[[${'zh' eq #locale.language && 'CN' eq #locale.country}]]*/false){
            lang = 2;
        }
        var zh = lang ===0 || lang === 2;

        var dateFormat = /*[[#{date.format}]]*/"dd MMM yyyy";
        var dateTimeFormat = /*[[#{datetime.format}]]*/"dd MMMM yyyy HH:mm";


        var dtLanguage = {
            "emptyTable": /*[[#{dateTables.emptyTable}]]*/"表格中没有数据~",
            "info": /*[[#{dateTables.info}]]*/"显示 _START_ 到 _END_ 条数据 共 _TOTAL_ 条数据",
            "infoEmpty": /*[[#{dateTables.infoEmpty}]]*/"没有数据~",
            "lengthMenu": /*[[#{dateTables.lengthMenu}]]*/"显示 _MENU_ 条数据",
            "search": /*[[#{dateTables.search}]]*/"查询:",
            "sSearchPlaceholder": /*[[#{dateTables.sSearchPlaceholder}]]*/"by Name:",
            "zeroRecords": /*[[#{dateTables.zeroRecords}]]*/"没有找到对应的数据",
            "paginate": {
                "previous": /*[[#{dateTables.previous}]]*/"上页",
                "next": /*[[#{dateTables.next}]]*/"下页",
                "last": /*[[#{dateTables.last}]]*/"末页",
                "first": /*[[#{dateTables.first}]]*/"首页"
            }
        };

        /*]]>*/
    </script>



    <div class="modal fade" id="message-modal" tabindex="-1" role="dialog" aria-labelledby="message-modal-label"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="message-modal-label">Warning</h4>
                </div>
                <div class="modal-body">
                    &nbsp;
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <script th:src="${@loginController.assetsServer} + '/js/cms.js'"></script>
</div>

<div th:remove="tag" th:fragment="fields_errors">

    <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
        <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
    </ul>

</div>

<div th:remove="tag" th:fragment="messages">
    <div th:if="${!#strings.isEmpty(success_message)}" th:text="${success_message}" class="alert alert-success">
        Success
    </div>
    <div th:if="${!#strings.isEmpty(info_message)}" th:text="${info_message}" class="alert alert-info">Information</div>
    <div th:if="${!#strings.isEmpty(warning_message)}" th:text="${warning_message}" class="alert alert-warning">
        Warning
    </div>
    <div th:if="${!#strings.isEmpty(failure_message)}" th:text="${failure_message}" class="alert alert-danger">Failure
    </div>
</div>

<div th:remove="tag" th:fragment="messages2">
    <div th:if="${!#strings.isEmpty(success_message2)}" th:text="${success_message2}" class="alert alert-success">
        Success
    </div>
    <div th:if="${!#strings.isEmpty(info_message2)}" th:text="${info_message2}" class="alert alert-info">Information
    </div>
    <div th:if="${!#strings.isEmpty(warning_message2)}" th:text="${warning_message2}" class="alert alert-warning">
        Warning
    </div>
    <div th:if="${!#strings.isEmpty(failure_message2)}" th:text="${failure_message2}" class="alert alert-danger">
        Failure
    </div>
</div>

<div th:remove="tag" th:fragment="messages3">
    <div th:if="${!#strings.isEmpty(success_message3)}" th:text="${success_message3}" class="alert alert-success">
        Success
    </div>
    <div th:if="${!#strings.isEmpty(info_message3)}" th:text="${info_message3}" class="alert alert-info">Information
    </div>
    <div th:if="${!#strings.isEmpty(warning_message3)}" th:text="${warning_message3}" class="alert alert-warning">
        Warning
    </div>
    <div th:if="${!#strings.isEmpty(failure_message3)}" th:text="${failure_message3}" class="alert alert-danger">
        Failure
    </div>
</div>


<div th:remove="tag" th:fragment="messages4">
    <div th:if="${!#strings.isEmpty(success_message4)}" th:text="${success_message4}" class="alert alert-success">
        Success
    </div>
    <div th:if="${!#strings.isEmpty(info_message4)}" th:text="${info_message4}" class="alert alert-info">Information
    </div>
    <div th:if="${!#strings.isEmpty(warning_message4)}" th:text="${warning_message4}" class="alert alert-warning">
        Warning
    </div>
    <div th:if="${!#strings.isEmpty(failure_message4)}" th:text="${failure_message4}" class="alert alert-danger">
        Failure
    </div>
</div>


<div th:remove="tag" th:fragment="messages5">
    <div th:if="${!#strings.isEmpty(success_message5)}" th:text="${success_message5}" class="alert alert-success">
        Success
    </div>
    <div th:if="${!#strings.isEmpty(info_message5)}" th:text="${info_message5}" class="alert alert-info">Information
    </div>
    <div th:if="${!#strings.isEmpty(warning_message5)}" th:text="${warning_message5}" class="alert alert-warning">
        Warning
    </div>
    <div th:if="${!#strings.isEmpty(failure_message5)}" th:text="${failure_message5}" class="alert alert-danger">
        Failure
    </div>
</div>

</body>
</html>