<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en" th:replace="layout::header">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<!-- Navigation -->
<div th:fragment="nav" th:remove="tag">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/cms/dashboard" th:text="#{1st_hand_property_cms}">Midland CMS</a>
        </div>
        <!-- /.navbar-header -->

        <form id="logoutForm" th:action="@{/cms/logout}" method="post"></form>

        <ul class="nav navbar-top-links navbar-right">


            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span th:text="${session['session_user'].name}" th:if="${session['session_user'] != null}">Jaques Yang</span>
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#" th:href="@{/cms/profile}"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>

                    <li class="divider"></li>
                    <li>
                        <a data-toggle="modal" data-target="#logoutConfirmModal"><i class="fa fa-sign-out fa-fw"></i>
                            Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">

                    <li>
                        <a href="#" th:href="@{/cms/dashboard}"><i class="fa fa-dashboard fa-fw"></i> <span
                                th:text="#{dashboard}">Dashboard</span></a>
                    </li>
                    <li>
                        <a href="#" th:href="@{/cms/entry/add}"><i class="fa fa-plus fa-fw"></i> <span
                                th:text="#{add_new_property_entry}">Add New Property Entry</span></a>

                    </li>
                    <li>
                        <a href="#" th:href="@{/cms/entry/}"><i class="fa fa-home fa-fw"></i> <span
                                th:text="#{1st_hand_property_listing}">1st Hand Property Listing</span></a>
                    </li>
                    <li>
                        <a href="#" th:href="@{/cms/entry/sort}"><i class="fa fa-arrow-circle-o-up fa-fw"></i> <span
                                th:text="#{edit_property_ordering}">Edit Property Ordering</span></a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')">
                        <a href="#" th:href="@{/cms/approval}"><i class="fa fa-check-square-o fa-fw"></i> <span
                                th:text="#{admin_approval}">Admin Approval</span></a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')">
                        <a href="#" th:href="@{/cms/email_notification}"><i class="fa fa-envelope-o fa-fw"></i> <span
                                th:text="#{admin_notification_setting}">Admin Notification Setting</span></a>

                    </li>


                </ul>
            </div>
        </div>


    </nav>
    <div class="modal fade" id="logoutConfirmModal" tabindex="-1" role="dialog"
         aria-labelledby="logoutConfirmModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="logoutConfirmModalLabel">Confirm Logout</h4>
                </div>
                <div class="modal-body">
                    Confirm Logout?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary" onclick="$('#logoutForm').submit()">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="message-modal" tabindex="-1" role="dialog" aria-labelledby="message-modal-label"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="message-modal-label">Warning</h4>
                </div>
                <div class="modal-body">
                    &nbsp;
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>