<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout::header">
    <meta charset="UTF-8"/>
    <title></title>
</head>

<body th:with="df=#{datetime.format}">
<div id="wrapper">

    <div th:replace="fragments/nav::nav">

    </div>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" th:text="#{admin_notification_setting}">Admin Notification Setting</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div th:replace="fragments/layout::messages">
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong th:text="#{notification_email_setting}">Notification Email Setting</strong>
                    </div>
                    <div class="panel-body">
                        <form id="add_form" role="form" th:action="@{/cms/email_notification/add}" method="post">
                            <fieldset>
                                <legend th:text="#{add_new_email_for_notification}">Add new email for notification: </legend>
                                <div id="add_result"></div>
                                <div class="form-group">
                                    <input type="email" name="email" id="email" class="form-control"
                                           required="required"/>

                                </div>
                                <div class="form-group">
                                    <button class="btn btn-default" type="submit">Submit</button>
                                </div>
                            </fieldset>


                        </form>
                        <fieldset>

                            <legend th:text="#{existence_notification_email_list}">Existence Notification Email List: </legend>
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-hover" id="dataTables">
                                    <thead>
                                    <tr>
                                        <th th:text="#{email}">E-mail</th>
                                        <th></th>
                                        <th th:text="#{edit}" width="10%">Edit</th>
                                        <th th:text="#{delete}" width="10%">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </fieldset>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form id="del_form" th:action="@{'/cms/email_notification/delete'}"
      class="form-horizontal" method="post">
    <div class="modal fade" id="del_modal" tabindex="-1" role="dialog"
         aria-labelledby="del_modal_label" aria-hidden="true" data-show="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="del_modal_label">Delete</h4>
                </div>
                <div class="modal-body">

                    <div id="del_loading" class="loading">
                        <i class="fa fa-spinner fa-spin fa-3x"></i>
                    </div>
                    <div id="del_result"></div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"
                               th:inline="text">[[#{email}]]:</label>

                        <div class="col-md-9 form-control-static">
                            <span id="email"></span>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-md-3 control-label" th:inline="text">[[#{creation_time}]]:</label>

                        <div class="col-md-9 form-control-static">
                            <span id="created_time"></span>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="hidden" name="id" id="del_id"/>
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                            th:text="#{cancel}">Cancel
                    </button>
                    <button id="del_submit" type="submit" class="btn btn-primary"
                            th:text="#{delete}">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>


<form id="edit_form" th:action="@{'/cms/email_notification/edit'}"
      class="form-horizontal" method="post">
    <div class="modal fade" id="edit_modal" tabindex="-1" role="dialog"
         aria-labelledby="edit_modal_label" aria-hidden="true" data-show="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="edit_modal_label">Edit</h4>
                </div>
                <div class="modal-body">

                    <div id="edit_loading" class="loading">
                        <i class="fa fa-spinner fa-spin fa-3x"></i>
                    </div>
                    <div id="edit_result"></div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"
                               th:inline="text">[[#{email}]]:</label>

                        <div class="col-md-9">
                            <input type="email" id="email" name="email" class="form-control"/>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-md-3 control-label" th:inline="text">[[#{creation_time}]]:</label>

                        <div class="col-md-9 form-control-static">
                            <span id="created_time"></span>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="hidden" name="id" id="edit_id"/>
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                            th:text="#{cancel}">Cancel
                    </button>
                    <button id="edit_submit" type="submit" class="btn btn-primary"
                            th:text="#{update}">
                        Update
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<div th:replace="fragments/layout::footer_script"></div>

<script th:src="${@loginController.assetsServer} + '/bower_components/jquery-form/jquery.form.js'" type="text/javascript"/>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    function dtConfirg() {
        var url = cp + "/rest/email_notification/";
        var aoColumns = [
            {"mDataProp": "email"},
            {"mDataProp": "modified"},
            {
                "mDataProp": "id",
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).html('<button type="button" class="btn" onclick="showEditModal(' + oData.id + ')">Edit</button>');
                }
            },
            {
                "mDataProp": "id",
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).html('<button type="button" class="btn" onclick="showDelModal(' + oData.id + ')">Delete</button>');
                }
            }
        ]

        return dataTableConfig(url, true, true, true, true, true, aoColumns, [{
            'orderable': false,
            aTargets: [2]
        }, {'orderable': false, aTargets: [3]}, {"visible": false, "targets": 1}], [[1, 'desc']]);
    }

    $(document).ready(function () {


        var table = $('#dataTables').dataTable(dtConfirg());

        var addForm = $('#add_form');
        var addRes = '#add_result';

        addForm.on("submit", function (ev) {
            infoAlert(addRes);
            ev.preventDefault();

            var message = serverError;

            $(this).ajaxSubmit({
                clearForm: true,
                success: function (json) {
                    if (json) {
                        message = json.msg;
                        if (json.errno == 0) {
                            table._fnAjaxUpdate();
                            successAlert(addRes, message);
                            return;
                        }
                    }
                    failureAlert(addRes, message);
                },
                error: function () {
                    failureAlert(addRes, message);
                }
            });
        });

        var editForm = $('#edit_form');
        editForm.on("submit", function (ev) {
            infoAlert(addRes);
            ev.preventDefault();

            loading = "#edit_loading";
            var message = serverError;

            $(this).ajaxSubmit({
                success: function (json) {
                    if (json) {
                        message = json.msg;
                        if (json.errno == 0) {
                            $('#edit_modal').modal('hide');
                            table._fnAjaxUpdate();
                            successAlert(addRes, message);
                            return;
                        }
                    }
                    failureAlert("#edit_result", message);
                },
                error: function () {
                    failureAlert("#edit_result", message);
                }
            });
        });

        var delForm = $('#del_form');
        delForm.on("submit", function (ev) {
            infoAlert(addRes);
            ev.preventDefault();

            loading = "#del_loading";
            var message = serverError;

            $(this).ajaxSubmit({
                success: function (json) {
                    if (json) {
                        message = json.msg;
                        if (json.errno == 0) {
                            $('#del_modal').modal('hide');
                            table._fnAjaxUpdate();
                            successAlert(addRes, message);
                            return;
                        }
                    }
                    failureAlert("#del_result", message);
                },
                error: function () {
                    failureAlert("#del_result", message);
                }
            });
        });
    });


    function showDelModal(docId) {
        var url = cp + "/rest/email_notification/" + docId;
        $.get(url, function (json, status) {
            if ("success" == status && json && json.errno == 0) {

                $('#del_form #email').html(json.data.email);
                $('#del_form #created_time').html(showDateFormat(json.data.created, dateTimeFormat));
                $("#del_form #del_id").val(docId);


                infoAlert('#add_result');
                infoAlert('#del_result');

                $('#del_modal').modal('show');

                return;
            }
        });
    }

    function showEditModal(docId) {
        var url = cp + "/rest/email_notification/" + docId;
        $.get(url, function (json, status) {
            if ("success" == status && json && json.errno == 0) {

                $('#edit_form #email').val(json.data.email);
                $('#edit_form #created_time').html(showDateFormat(json.data.created, dateTimeFormat));
                $("#edit_form #edit_id").val(docId);


                infoAlert('#add_result');
                infoAlert('#edit_result');

                $('#edit_modal').modal('show');

                return;
            }
        });
    }

    /*]]>*/
</script>

</body>
</html>