.nr td {
    padding-right: 5px;
    padding-bottom: 5px;
    min-width: 40px;
    height: 30px;
    vertical-align: top;
}

/*
tr:last-child > td:last-child{
height:55px;
}
*/

.nr-first-hand-title span {
    font-size: 15px;
    border-bottom: 3px solid #5BBBAC;
    margin: 0;
    padding: 0 0 0 0;
    color: #646464;
    display: inline-table;
}

.nr-first-hand-title {
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 5px;
}

.cookie-more {
    margin: 5px 16px 0 0;
    background: #5BBBAC;
    color: #666;
    padding: 1px 8px;
    display: inline;
    float: right;
    font-size: 12px;
    cursor: pointer;
    cursor: hand;
    text-decoration: none;
}

.nopadding {
    padding: 0 !important;
}

.nr-first-hand-stock {
    margin-bottom: 25px;
    color: black;
}

.nr-first-hand-stock .placeholder {
    width: 100%;
    padding-bottom: 60%;
}

.nr-first-hand-stock .nr-thumb {
    padding: 0;
    overflow: hidden;
}

.nr-first-hand-stock .nr-info {
    padding: 15px 0 0 0;
}

.nr-first-hand-stock img {
    border: 1px solid #ccc;
    position: absolute;
    top: 0;
    left: 0;
}

.mb20 {
    margin-bottom: 20px;
}

.mb40 {
    margin-bottom: 40px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.nr .btn-default,
.nr .dropdown-toggle {
    background-color: transparent;
    padding: 8px 0;
    margin-right: 15px;
    color: #000;
    white-space: nowrap;
    border: 0 !important;
    border-radius: 0;
    /*    margin-bottom: -20px;*/

    margin-top: -5px;
    height: 60px;
}

.nr .btn-default.active,
.nr .btn-default.focus,
.nr .btn-default:active,
.nr .btn-default:focus,
.nr .btn-default:hover,
.nr .open > .dropdown-toggle.btn-default {
    /*    background-color: transparent;*/

    background-color: transparent;
    border-bottom: 5px solid #000 !important;
    /*    background-color: transparent;*/

    text-decoration: none;
    padding: 15px 0;
    margin-right: 15px;
    color: #000;
    white-space: nowrap;
    /*    border: 0 !important;*/

    border-radius: 0;
    /*    margin-bottom: -10px;*/
    /*    margin-top: -10px;*/
    /*    height: 40px;*/
}

.nr .dropdown-toggle.btn-default:hover,
.nr .open > .dropdown-toggle.btn-default {
    /*    height:65px;*/
    /*    margin-top:15px;*/

    padding: 20px 0 15px 0;
}

.nr .tab-pane {
    padding-top: 20px;
}

.nr .nav-tabs > li > a,
.nr .nav-tabs > li > a:focus,
.nr .nav-tabs > li > a:hover {
    color: #fff;
    cursor: default;
    background-color: #000;
    border: transparent;
    border-bottom: 4px solid #5BBBAC !important;
    border-radius: 0;
    margin: 0;
}

.nr .nav-tabs > li.active > a,
.nr .nav-tabs > li.active > a:focus,
.nr .nav-tabs > li.active > a:hover {
    color: #000;
    cursor: default;
    background-color: #5BBBAC;
    border: transparent;
    border-bottom: 4px solid #5BBBAC;
}

.nr-property-name {
    text-align: center !important;
    font-size: 1.4em;
    padding: 5px;
}

.nr-property-table {
    font-size: 15px;
    margin: 0 !important;
    border: 0;
}

.nr-property-table td {
    padding: 5px;
    color: #333333;
}

.nr-property-table td.hdr {
    color: #666666;
}

.nr-property-table tr,
.nr-property-table td {
    margin: 0 !important;
    border: 0;
}

.nr-firsthand-filter {
    background-color: #5BBBAC;
    font-size: 15px;
}

.nr-firsthand-filter .btn-default {
    font-size: 15px;
}

.nr-filter-input-block {
    display: inline-block;
}

.nr-firsthand-filter input {
    margin: 0 0 0 20px;
    width: 110px;
    padding: 2px 5px;
    border: 0;
    border-radius: 5px;
}

ul.tagit {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: -7px;
}

.mb30 {
    margin-bottom: 30px;
}

.mt30 {
    margin-top: 30px;
}

.mt30 td {
    padding-right: 1em;
}

.mt20 {
    margin-top: 20px;
}

.nr .pagination > li {
    border-radius: 0;
}

.nr .pagination > li > a {
    border-radius: 0;
    color: black;
}

.mt15 {
    margin-top: 15px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

/*
.btn-search {
    display: inline-block;
    background-color: black;
    color: #5BBBAC;
    padding: 3px 5px !important;
    border-radius: 5px !important;
    /*    width:50px!important;*/
/*
}
*/


.nr-info-badge {
/*
    bottom: 0;
    color: #fff;
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    padding: 0;

    background-image: url(../img/corner-right-bottom.png);
    background-repeat: no-repeat;
    background-position: center center;
    */
    display: none;
}

.btn-more {
    background-color: #f0f0f0;
    color: #333;
}

.nr-prop-detail {
    border-left: 5px solid #5BBBAC;
    background-color: #f7f7f7;
    color: #333;
}

.nr-prop-detail a {
    font-size: 1.2em;
}

.nr-prop-detail .hdr {
    color: #999999;
}

.nr-head {
    border-left: 5px solid #5BBBAC;
    padding-left: 5px;
    font-weight: 900;
    color: #000000;
}

.nr-small {
    color: #666666;
    font-size: 0.85em;
    font-weight: 500;
}

.nr-caption {
    color: #333333;
    padding: 5px;
    font-size: 0.9em;
}

.nr .dropdown {
    width: 50px;
    display: inline-block;
    border: none;
    margin: 0;
}

.nowrap {
    white-space: nowrap;
}

@media screen and (max-width: 480px) {
    .nr-flow-cells-xs {
        display: block;
    }

    .nr-flow-cells-xs tr {
        display: block;
        padding-bottom: 10px;
    }

    .nr-flow-cells-xs td {
        display: block;
        height: 24px;
    }
    
    .nr-first-hand-stock {
        padding-left: 15px;
        padding-right: 15px;
    }

    .mr-h4{
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 767px) {
    .nr-search-bar::before {
        clear: both;
    }

    .nr-search-bar {
        display: block;
        margin-left: 0;
        float: left;
        margin-top: 10px !important;
        padding-top: 10px;
        width: 100%;
    }

    .nr-search-bar input {
        /*        display: block;*/

        margin-left: 0;
        /*        float: left;*/
        /*        margin-top: 10px !important;*/
        /*        padding-top:10px;*/

        width: 80%;
    }

    .nr-filter-input-block {
        /*        display: block;*/

        margin-top: 10px;
        margin-left: -30px;
        /*        float: left;*/
    }

    .nr-prop-detail {
        margin-left: 15px;
        margin-right: 15px;
        padding: 10px 0;
    }
}



@media screen and (max-width: 990px) {
    .nr-prop-detail {
        margin-left: 15px;
        margin-right: 15px;
        padding: 10px 0;
    }
}

@media screen and (min-width: 991px) {
    .nr-firsthand-filter input {
        width: 250px;
    }
}

@media screen and (max-width: 1200px) {
    .video-container {
        height: 315px;
    }
}

.nr-blue {
    color: #2489bd;
}

.nr-h4 {
    color: #666666;
}

.nr-h4 .nr-blue {
    color: #00a2ff;
}

.nr-doc-title {
    color: #065e7e;
}

.nr-link-blue {
    color: #0086be;
}

.nr-detail a:link {
    color: #0086be;
}

.nr-detail a:visited {
    color: #0385b6;
}

.nr-dept {
    color: #666666;
}

.nr-website {
    color: #333333;
}

.nr-website a:link {
    color: #188fd3;
}

.nr-website a:visited {
    color: #0385b6;
}

.nr-list a:link {
    color: #0693c1;

}

.nr-list a:visited {
    color: #0385b6;
}

.nr-second-name {
    margin-left: 1.2em;
}

a.btn-more:link {
    background-color: #f0f0f0;
    color: #333333;
    font-size: 15px;
}

.btn-search {
    background-image: url(../img/icon-search.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    border: none;
    vertical-align: middle;
    margin-left: 5px;
}

#departments.mt30 td:first-child + td {
    white-space: normal;
}
#departments.mt30 td {
    white-space: nowrap;
}

.nr-property-declare table {
    width: 100%;
    border: 1px solid black;
}

.nr-property-declare table caption {
    color: black;
}


.nr-property-declare table th {
    text-align: center;
}
.nr-property-declare table td.nr-col-date {
    white-space: nowrap;
}
.nr-property-declare-desc {
    margin-top: 15px;
}
