<div xmlns:th="http://www.thymeleaf.org" th:remove="tag">

    <div th:remove="tag"
         th:utext="${@frontendController.headerContent(entry)}"></div>

    <div th:replace="frontend/layout::menu"></div>

    <main id="content" class="container nr nr-detail" th:with="df = #{frontend.date.format}">
        <!-- CONTENT BODY BEGIN -->


        <div class="row clearfix">

            <div class="col-md-12 nr-h4">
                <h4 class="mb30">
                    <span class="nr-blue" href="#" th:utext="${entry.nameInFrontendTitle(#locale)}">天鑄 Ultima</span>
                </h4>
            </div>
        </div>
        <div class=" row">

            <div class="mb20 col-md-5">
                <img class="img-responsive" src="first-hand/thebeaumount2.png" th:src="${entry.imageUrl}" alt=""/>


            </div>
            <div class="mb20 col-md-7 nr-prop-detail">
                <div class="col-md-7 mt15 mb15">
                    <p th:inline="text" class="hdr">[[#{project_name}]]
                        <br/><span class="nr-blue"
                                   th:utext="${entry.devProjectInFrontend(#locale)}">
                            天鑄發展項目 ULTIMA DEVELOPMENT
                        </span>
                    </p>

                    <p th:inline="text" class="hdr">[[#{phase_num}]]
                        <br/><span class="nr-blue"
                                   th:utext="${entry.phaseNumInFrontend(#locale)}">第一期 PHASE 1</span>
                    </p>

                    <p th:inline="text" class="hdr">[[#{phase_name}]]
                        <br/><span class="nr-blue"
                                   th:utext="${entry.phaseNameInFrontend(#locale)}">天鑄 ULTIMA</span>
                    </p>

                    <p th:inline="text" class="hdr">[[#{addr}]]
                        <br/><span class="nr-blue"
                                   th:utext="${entry.addrInFrontend(#locale)}">佛光街23號 23 FAT KWONG STREET</span>
                    </p>

                    <p th:inline="text" class="hdr">[[#{app_area}]]
                        <br/><span class="nr-blue"
                                   th:utext="${entry.areaInFrontend(#locale)}">何文田 HO MAN TIN</span>
                    </p>

                </div>
                <div class="col-md-5 mt15 mb15" th:if="${not #strings.isEmpty(entry.mortage)}">
                    <div th:remove="tag" th:utext="${entry.mortage}"/>
                </div>

            </div>


        </div>

        <div class="row mb30">

            <div class="col-md-12 nr-website">
                <p th:inline="text" th:if="${not #strings.isEmpty(entry.projectUrl)}">[[#{project_url}]]：<a href="#"
                                                                                                            th:href="${entry.projectUrl}"
                                                                                                            target="_blank"
                                                                                                            th:text="${entry.projectUrl}"></a>
                </p>

                <p th:if="${not #strings.isEmpty(@ui.srpeUrl)}"><a
                        target="_blank" href="http://www.srpe.gov.hk" th:href="${@ui.srpeUrl}" th:text="#{1st_hand_property_news}">www.srpe.gov.hk</a>
                </p>

                <p th:inline="text" th:if="false and ${not #strings.isEmpty(entry.salesManualUrl)}">[[#{sales_manual}]]：<a
                        target="_blank" href="http://www.srpe.gov.hk" th:href="${entry.salesManualUrl}"
                        th:text="${entry.salesManualUrl}">www.srpe.gov.hk</a>
                </p>
            </div>
        </div>


        <div class="row mb30">

            <div class="col-md-12">
                <h4 class="nr-head" th:inline="text">
                    [[#{sales_manual}]]
                </h4>

                <div class="col-md-12" style="margin-bottom: 15px">
                    <p th:if="${entry.printDate != null}" class="nr-small" th:inline="text">[[#{first_print_date}]]:
                        [[${#calendars.format(entry.printDate, df)}]]</p>

                    <p th:if="${entry.viewDate != null}" class="nr-small" th:inline="text">[[#{view_date}]]:
                        [[${#calendars.format(entry.viewDate, df)}]]</p>
                </div>

                <div class="col-md-12" style="margin-bottom: 20px" th:if="${not #lists.isEmpty(vrs)}">
                    <div class="nr-doc-title" th:text="#{view_record}" th:if="${not #lists.isEmpty(vrs)}">
                        检视记录
                    </div>

                    <table class="mt15">
                        <tr th:each="doc : ${vrs}">
                            <td><a href="#" th:href="${doc.fileUrl}" target="_blank"
                                   th:text="${@ui.localeText(doc.nameTc, doc.nameEn, doc.nameSc)}">第1部分</a>
                            </td>
                            <td><span class="nr-small"
                                      th:inline="text">- [[#{file_size}]] : [[${doc.file.bytes}]]</span>
                            </td>
                        </tr>

                    </table>

                </div>


                <div class="col-md-5" th:if="${not #lists.isEmpty(mfs)}">
                    <div class="nr-doc-title" th:text="#{sales_manual_full}" th:if="${not #lists.isEmpty(mfs)}">
                        售樓說明書完整版本
                    </div>

                    <table class="mt15">
                        <tr th:each="doc : ${mfs}">
                            <td><a href="#" th:href="${doc.fileUrl}" target="_blank"
                                   th:text="${@ui.localeText(doc.nameTc, doc.nameEn, doc.nameSc)}">第1部分</a>
                            </td>
                            <td><span class="nr-small"
                                      th:inline="text">- [[#{file_size}]] : [[${doc.file.bytes}]]</span>
                            </td>
                        </tr>


                    </table>
                </div>
                <br/>

                <div class="col-md-5" th:if="${not #lists.isEmpty(mps)}">
                    <div class="nr-doc-title" th:text="#{sales_manual_part}" th:if="${not #lists.isEmpty(mps)}">
                        售樓說明書部份內容
                    </div>

                    <table class="mt15">

                        <tr th:each="doc : ${mps}" th:if="${not #lists.isEmpty(mps)}">
                            <td><a href="#" target="_blank"
                                   th:text="${@frontendController.localeText(doc.nameTc, doc.nameEn, doc.nameSc, #httpServletRequest)}"
                                   th:href="${doc.fileUrl}">第1部分</a>
                            </td>
                            <td><span class="nr-small"
                                      th:inline="text">- [[#{file_size}]] : [[${doc.file.bytes}]]</span>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="col-md-5" th:if="${#lists.isEmpty(vrs) and #lists.isEmpty(mps) and #lists.isEmpty(mfs)}">

                    <div class="mt15" th:text="#{coming_soon}">Coming Soon</div>
                </div>

            </div>

        </div>
        <div class="row mb30">

            <div class="col-md-12">
                <h4 class="nr-head" th:text="#{price_list}">價單</h4>

                <div class="col-md-12">
                    <table class="mt15 nr-flow-cells-xs" th:if="${not #lists.isEmpty(pls)}">

                        <tr th:each="doc : ${pls}">
                            <td><a href="#" target="_blank"
                                   th:text="${@frontendController.localeText(doc.nameTc, doc.nameEn, doc.nameSc, #httpServletRequest)}"
                                   th:href="${doc.fileUrl}">1</a></td>
                            <td><span class="nr-small" style="margin-right: 20px"
                                      th:inline="text">- [[#{file_size}]] : [[${doc.file.bytes}]]</span>
                            </td>
                            <td><span class="nr-small" th:inline="text">[[#{printed_modification_date}]]：[[${doc.printDate == null ? '' : #calendars.format(doc.printDate, df)}]]</span>
                            </td>
                        </tr>

                    </table>
                    <div class="mt15" th:if="${#lists.isEmpty(pls)}" th:text="#{coming_soon}">Coming Soon</div>

                </div>
            </div>
        </div>

        <div class="row mb30">

            <div class="col-md-12">
                <h4 class="nr-head" th:text="#{sales_arrangement}">銷售安排</h4>

                <div class="col-md-12">
                    <table class="mt15 nr-flow-cells-xs" th:if="${not #lists.isEmpty(sas)}">

                        <tr th:each="doc : ${sas}">
                            <td><a href="#" target="_blank"
                                   th:text="${@ui.localeText(doc.nameTc, doc.nameEn, doc.nameSc)}"
                                   th:href="${doc.fileUrl}">销售安排資料</a>
                            </td>
                            <td><span class="nr-small" style="margin-right: 20px"
                                      th:inline="text">- [[#{file_size}]] : [[${doc.file.bytes}]]</span>
                            </td>
                            <td th:if="false and ${doc.postDate != null}"><span class="nr-small" th:inline="text">[[#{sales_info_post_date}]] : [[${doc.postDate == null ? '' : #calendars.format(doc.postDate, df)}]]</span>
                            </td>
                            <td th:if="${doc.updateDate != null}"><span class="nr-small" th:inline="text">[[#{sales_info_update_date}]] : [[${doc.updateDate == null ? '' : #calendars.format(doc.updateDate, df)}]]</span>
                            </td>
                        </tr>

                    </table>
                    <div class="mt15" th:if="${#lists.isEmpty(sas)}" th:text="#{coming_soon}">Coming Soon</div>
                </div>

            </div>
        </div>

        <div class="row mb30">

            <div class="col-md-12">
                <h4 class="nr-head" th:text="#{completed_record}">成交紀錄冊</h4>

                <div class="col-md-12">
                    <table class="mt15 nr-flow-cells-xs" th:if="${not #lists.isEmpty(crs)}">

                        <tr th:each="doc : ${crs}">
                            <td><a href="#" target="_blank"
                                   th:text="${@ui.localeText(doc.nameTc, doc.nameEn, doc.nameSc)}"
                                   th:href="${doc.fileUrl}">成交紀錄冊</a>
                            </td>

                            <td><span class="nr-small"
                                      th:inline="text">- [[#{file_size}]] : [[${doc.file.bytes}]]</span>
                            </td>
                        </tr>

                    </table>
                    <div class="mt15" th:if="${#lists.isEmpty(crs)}" th:text="#{coming_soon}">Coming Soon</div>

                </div>
            </div>
        </div>


        <div class="row mb30" id="declaration">

            <div class="col-md-12">
                <h4 class="nr-head" th:text="#{declaration}">申報已遞交的購樓意向登記</h4>

                <div class="col-md-12  nr-property-declare">
                    <div class="mt15" style="display: none" id="coming-soon" th:text="#{no_records}">No Records.</div>




                </div>
            </div>
        </div>


        <div class="row mb30" th:if="${entry.keyDate != null}">

            <div class="col-md-12">
                <h4 class="nr-head" th:text="#{key_date}">關鍵日期</h4>

                <div class="col-md-12">
                    <table class="mt15">

                        <tr>

                            <td><span th:inline="text">[[${entry.keyDate == null ? '' : #calendars.format(entry.keyDate, df)}]]</span>
                            </td>
                        </tr>

                    </table>

                </div>
            </div>
        </div>

        <div class="row mb30"
             th:if="${(not #strings.isEmpty(entry.kindergartenSchoolNetwork)) or (not #strings.isEmpty(entry.primarySchoolNetwork)) or (not #strings.isEmpty(entry.secondarySchoolNetwork)) }">

            <div class="col-md-12">
                <h4 class="nr-head" th:text="#{property_school_network}">物業校網</h4>

                <div class="col-md-12">
                    <table class="mt15">

                        <tr th:if="${not #strings.isEmpty(entry.kindergartenSchoolNetwork)}">
                            <td th:text="#{kindergarten_school_network}">幼稚園校網
                            </td>

                            <td><span th:inline="text">- [[${@ui.localeText(entry.kindergartenSchoolNetwork, entry.kindergartenSchoolNetworkEn, entry.kindergartenSchoolNetworkSc, '')}]]</span>
                            </td>
                        </tr>

                        <tr th:if="${not #strings.isEmpty(entry.primarySchoolNetwork)}">
                            <td th:text="#{primary_school_network}">小學校網
                            </td>

                            <td><span th:inline="text">-  [[${@ui.localeText(entry.primarySchoolNetwork, entry.primarySchoolNetworkEn, entry.primarySchoolNetworkSc, '')}]]</span>
                            </td>
                        </tr>

                        <tr th:if="${not #strings.isEmpty(entry.secondarySchoolNetwork)}">
                            <td th:text="#{secondary_school_network}">中學校網
                            </td>

                            <td><span th:inline="text">-  [[${@ui.localeText(entry.secondarySchoolNetwork, entry.secondarySchoolNetworkEn, entry.secondarySchoolNetworkSc, '')}]]</span>
                            </td>
                        </tr>

                    </table>

                </div>
            </div>
        </div>

        <div class="row mb30"
             th:if="${(not #strings.isEmpty(entry.youtube)) or ((not #strings.isEmpty(entry.lat)) and (not #strings.isEmpty(entry.lng)))}">

            <div class="col-md-6" th:if="${not #strings.isEmpty(entry.youtube)}">
                <h4 class="nr-head" th:text="#{video}">影片</h4>

                <div class="col-md-12 mt15">
                    <div class="video-container">
                        <iframe th:src="${entry.youtube}" src="https://www.youtube.com/embed/gDqcsPNYyrg"
                                frameborder="0"
                                width="560"
                                height="315"></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-6" th:if="${(not #strings.isEmpty(entry.lat)) and (not #strings.isEmpty(entry.lng))}">
                <h4 class="nr-head" th:text="#{location}">位置</h4>

                <div class="col-md-12 mt15">
                    <div id="map_view" class="video-container"/>
                </div>
            </div>
        </div>
        <div class="row mb30">

            <div class="col-md-12">
                <h4 class="nr-head" th:text="#{sales_branches_network}">銷售分行</h4>
                <!-- <span class="nr-link-blue" th:text="#{sales_branches_network}">銷售分行網絡</span>-->

                <div class="col-md-12" id="no-department" style="display: none;" th:text="#{no_records}">No Records.
                </div>
                <div class="col-md-12">
                    <table class="mt30 nr-flow-cells-xs nr-dept" id="departments">


                    </table>

                </div>


            </div>
        </div>
        <div class="row mb30">

            <div class="col-md-12">
                <div class=" nr-caption">
                    <p th:utext="#{frontend_remark_1}">
                        成交紀錄冊的目的是向公眾人士提供列於紀錄冊的關於該發展項目的交易資料，以使公眾人士了解香港的住宅物業市場狀況。此成交紀錄冊所列載的個人資料不應用於其他用途。</p>

                    <p th:utext="#{frontend_remark_2}">
                        請注意：上述所載的資料及素材(「該等素材」)在賣方就發展項目指定的互聯網網站及／或一手住宅物業銷售資訊網取得，其準確性及真實性以官方紀錄為準，美聯物業代理 有限公司
                        (“本公司”)無法就該等素材內容的準確性及／或真實性作岀任何承諾及保證，亦不會就此向任何因使用或倚賴該等素材而蒙受任何損失或損害的人士負上任何責任。該等素材只供
                        參考。在籌備該等素材時，雖已作出合理謹慎措施，但本公司及／或本集團的任何成員不會就該等素材之完整性、準確性、及時性及可靠性，或該等素材適合某特定用途，作出任何
                        形式的陳述或保證（不論是明示或隱含的），亦不保證該等素材與賣方就發展項目指定的互聯網網站及／或一手住宅物業銷售資訊網同步更新內容，閣下需自行向賣方／一手住宅物
                        業銷售監管局查証以取得最新資料。“本集團”指(i) 本公司; (ii)本公司之任何控股公司、附屬公司及／或相聯公司; (iii) 其他與本公司屬同一集團的公司及; (iv)
                        在上述(i)、(ii) 及
                        ／或(iii)內提及的任何公司的董事、人員及僱員。藉着閱覽該等素材，即代表閣下已無條件同意本條款及條件。倘若閣下不接納本條款及條件，請點擊<a href="#">此處</a>，離開本網站。

                    </p>
                </div>
            </div>
            <div id="cs-firsthand-section" class="row clearfix">
                <div id="cs-section" class="col-sm-8 clearfix" xstyle="visibility: hidden;">


                    <!-- responsive breakpoints detection -->
                    <div class="device-xs visible-xs"></div>
                    <div class="device-sm visible-sm"></div>
                    <div class="device-md visible-md"></div>
                    <div class="device-lg visible-lg"></div>


                </div>


            </div>
        </div>
        <!-- CONTENT BODY END -->
    </main>

    <div th:remove="tag"
         th:utext="${@frontendController.footerContent()}"></div>

    <script type="text/javascript"
            th:src="${@ui.assetsServer} + '/bower_components/handlebars/handlebars-v3.0.3.js'"></script>
    <script type="text/javascript"
            th:src="${@ui.assetsServer} + '/bower_components/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js'"></script>
    <div th:remove="tag" th:if="${(not #strings.isEmpty(entry.lat)) and (not #strings.isEmpty(entry.lng))}">

        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"
                th:if="not ${@ui.devMode}"></script>
        <script src="http://ditu.google.cn/maps/api/js?sensor=false&amp;language=zh-CN"
                th:if="${@ui.devMode}"></script>
    </div>

    <script id="dept-template" type="text/x-handlebars-template">
        {{#each this}}
        <tr>
            <td>
                <a href="http://proptx.midland.com.hk/branch_agent/branch_blog_index.jsp?deptId={{dept_id}}&amp;lang={{lang}}"
                   target="_blank">{{name}}</a>
            </td>

            <td class="hidden-xs hidden-sm" th:inline="text">[[#{addr}]] : {{addr}}
            </td>

            <td th:inline="text"> [[#{phone}]] : {{phone_no}}</td>
            <td class="hidden-xs" th:inline="text"> [[#{fax}]] : {{fax_no}}</td>
            <td th:inline="text"> [[#{email}]] : <a href="mailto:{{email_addr}}">{{email_addr}}</a></td>
        </tr>
        {{/each}}
    </script>


    <script id="declaration-template" type="text/x-handlebars-template">

                <p class="nr-small nr-property-declare-desc">{{table_desc_label}}</p>


                {{#each darList}}

                <table style="width: 100%" border="1">
                    <caption>
                        {{../sale_date_label}}: {{sale_date}}
                    </caption>
                    <thead>
                    <tr>
                        <th>{{../report_date_label}}</th>
                        <th>{{../num_person_label}}</th>
                        <th>{{../num_intention_label}}</th>
                        <th>{{../num_cheque_label}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each dsrList}}
                    <tr align="center">
                        <td class="nr-col-date">{{report_date}}</td>
                        <td>{{no_of_person}}</td>
                        <td>{{no_of_intention}}</td>
                        <td>{{no_of_cheque}}</td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>


                {{/each}}



    </script>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/


        var lang = /*[[${#locale.language}]]*/'zh';
        var cp = /*[[${#httpServletRequest.contextPath}]]*/'';
        var entryId = /*[[${entry.uid}]]*/"";

        var showMap = /*[[${(not #strings.isEmpty(entry.lat)) and (not #strings.isEmpty(entry.lng))}]]*/false;

        var map;
        var marker = null;
        var centerLat = 22.381825343914965, centerLng = 114.11361694335938;//center on hk

        var centerLatlng = (showMap && window.google) ? new google.maps.LatLng(centerLat, centerLng) : '';

        var source = $("#dept-template").html();
        var template = Handlebars.compile(source);

        var page = 1;
        var totalPage = 1;
        var pageSize = 9999;

        var properties = ["dept_id", "name", "phone_no", "fax_no", "dept_head_phone", "email_addr", "addr"];

        var loadDepartments = function () {
            if (page > totalPage) {
                return;
            }
            $.get("http://app2.hkp.com.hk/residential_ebook/ebook_service/department.jsp?lang=" + lang + "&pisEstId=" + entryId + "&page=" + page + "&pageSize=" + pageSize, function (data, status) {
                if ('success' === status) {
                    var list = $(data).find("list");
                    var noOfDepartment = $(list).attr("noOfDepartment");

                    var n = noOfDepartment % pageSize;

                    totalPage = parseInt(noOfDepartment / pageSize);

                    if (n != 0) {
                        totalPage += 1;
                    }

                    page += 1;

                    var departments = [];
                    if (noOfDepartment > 0) {
                        $(data).find("department").each(function (index, element) {
                            var department = {lang: lang};
                            $(properties).each(function (idx, ele) {
                                department[ele] = $(element).find(ele).text();
                            });
                            departments.push(department);
                        });

                        var html = template(departments);

                        $("table#departments").append(html);
                    } else {
                        $("div#no-department").show();
                    }
                }
            });
        };


        var initMap = function () {
            if (!showMap || !window.google) {
                return;
            }

            var lat = /*[[${entry.lat}]]*/'';
            var lng = /*[[${entry.lng}]]*/'';
            if (!lat || !lng) {
                return;
            }

            var mapOptions = {
                zoom: 12,
                disableDefaultUI: false,
                center: centerLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            map = new google.maps.Map(document.getElementById('map_view'), mapOptions);


            if (lat.length > 0 && lng.length > 0) {

                if (marker) {
                    marker.setMap(null);
                }
                centerLatlng = new google.maps.LatLng(lat, lng);
                marker = new google.maps.Marker({position: centerLatlng, map: map});
                map.setCenter(centerLatlng);
            }
        };

        var loadDeclaration = function () {
            //var serverName = /*[[${#httpServletRequest.serverName}]]*/'';
            var path = "/new-property-declare/data/report?est_id=" + entryId;
            //var path = cp + "/midland-api/declare?est_id=" + entryId;

            $.get(path, function (data, status) {
                if ('success' === status) {
                    var declarationTemplateSoruce = $("#declaration-template").html();
                    var declarationTemplate = Handlebars.compile(declarationTemplateSoruce);
                    var html = declarationTemplate(data);
                    if (data.darList.length > 0) {
                        $("#declaration .nr-property-declare").append(html);
                        return;
                    }
                }
                $("#declaration #coming-soon").show();
            });
        }


        $(document).ready(function () {
            $('.dropdown-toggle').dropdownHover();

            if (showMap) {
                initMap();
            }

            loadDepartments();
            loadDeclaration();
        });

        /*]]>*/
    </script>
</div>
