<div xmlns:th="http://www.thymeleaf.org" th:remove="tag">

    <div th:remove="tag"
         th:utext="${@frontendController.headerContent()}"></div>


    <div th:replace="frontend/layout::menu"></div>

    <main id="content" class="container nr nr-list">
        <!-- CONTENT BODY BEGIN -->


        <div id="district" class="row clearfix mt15">
            <div class="col-sm-12 mb40 clearfix" xstyle="visibility: hidden;" id="sec1">
                <h4 class="mb30 mr-h4" th:if="${h4 != null}">
                    <span class="nr-blue" th:inline="text">[[${h4}]]</span>
                </h4>

                <div class="nr-first-hand-wrapper row" id="properties">

                    <a class="col-sm-6 col-md-4 col-lg-3" th:each="entry : ${entries}"
                       th:href="@{'/' + ${@ui.localeText(entry.urlKeyTc, entry.urlKeyEn, entry.urlKeySc)}}">
                        <div class=" nr-first-hand-stock clearfix">
                            <div class="col-xs-12 nr-thumb">
                                <div class="placeholder"><!-- placeholder --></div>
                                <img class="img-responsive" th:src="${entry.imageUrl}" alt=""/>

                                <div class="nr-info-badge"></div>
                            </div>
                            <div class="col-xs-12 nr-info">
                                <table class=" nr-property-table">
                                    <tbody>
                                    <tr>
                                        <td class="hdr" th:text="#{name}">名稱</td>
                                        <td>
                                            <a th:href="@{'/' + ${@ui.localeText(entry.urlKeyTc, entry.urlKeyEn, entry.urlKeySc)}}"
                                               th:text="${entry.getName(#locale)}"></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="hdr" th:text="#{district}">地區</td>
                                        <td th:text="${@ui.localeText(entry.areaTc, entry.areaEn, entry.areaSc)}"></td>
                                    </tr>
                                    <tr>
                                        <td class="hdr" th:text="#{addr}">地址</td>
                                        <td th:text="${@ui.localeText(entry.addrTc, entry.addrEn, entry.addrSc)}"></td>
                                    </tr>
                                    </tbody>
                                </table>


                            </div>


                        </div>

                    </a>
                </div>


            </div>

        </div>
    </main>


    <div th:remove="tag"
         th:utext="${@frontendController.footerContent()}"></div>
</div>