<div xmlns:th="http://www.thymeleaf.org" th:remove="tag">

    <div th:remove="tag"
         th:utext="${@frontendController.headerContent(null)}"></div>


    <div th:replace="frontend/layout::menu"></div>

    <main id="content" class="container nr nr-list">
        <!-- CONTENT BODY BEGIN -->


        <div id="district" class="row clearfix mt15">
            <div class="col-sm-12 mb40 clearfix" xstyle="visibility: hidden;" id="sec1">
                <h4 class="mb30 mr-h4" th:if="${searchBy != null}">
                    <span class="nr-blue" th:inline="text">[[${h4}]]</span>
                </h4>

                <div class="nr-first-hand-wrapper row" id="properties">

                </div>
                <div class="row" id="more-properties" style="display: none">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center nr-more">
                        <a href="javascript:loadProperties();" class="btn btn-block btn-more"
                           th:text="#{more_properties}">查看更多一手住宅物業發展項目</a>
                    </div>
                </div>

            </div>


        </div>


    </main>


    <script type="text/javascript"
            th:src="${@ui.assetsServer} + '/bower_components/handlebars/handlebars-v3.0.3.js'"></script>

    <script type="text/javascript"
            th:src="${@ui.assetsServer} + '/bower_components/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js'"></script>

    <script id="entry-template" type="text/x-handlebars-template">
        {{#each this}}
        <a class="col-sm-6 col-md-4 col-lg-3" href="{{link urlKeyTc urlKeyEn urlKeySc}}">
            <div class="nr-first-hand-stock clearfix">
                <div class="col-xs-12 nr-thumb">
                    <div class="placeholder"><!-- placeholder --></div>
                    <img class="img-responsive" src="{{imageUrl}}" alt=""/>

                    <div class="nr-info-badge"></div>
                </div>
                <div class="col-xs-12 nr-info">
                    <table class=" nr-property-table">
                        <tbody>
                        <tr>
                            <td class="hdr" th:text="#{name}">名稱</td>
                            <td><a href="{{link urlKeyTc urlKeyEn urlKeySc}}" >{{localText nameTc nameEn nameSc '--'}}</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="hdr" th:text="#{district}">地區</td>
                            <td>{{localText areaTc areaEn areaSc '--'}}</td>
                        </tr>
                        <tr>
                            <td class="hdr" th:text="#{addr}">地址</td>
                            <td>{{localText addrTc addrEn addrSc '--'}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </a>
        {{/each}}
    </script>


    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

        var setHeights = function () {
            var $list = $('.nr-first-hand-wrapper');
            var $items = $list.find('.col-sm-6');

            $items.css('height', 'auto');

            var perRow = Math.floor($list.width() / $items.width());

            if (perRow == null || perRow < 2) {
                return true;
            }

            for (var i = 0, j = $items.length; i < j; i += perRow) {
                var maxHeight = 0;
                var $row = $items.slice(i, i + perRow);

                $row.each(function () {
                    var itemHeight = parseInt($(this).outerHeight());
                    if (itemHeight > maxHeight) maxHeight = itemHeight;
                });
                $row.css('height', maxHeight);
            }
        };

        $(window).on('resize', setHeights);

        var noPropetyFound=/*[[#{no_property}]]*/'';

        var searchBy = /*[[${searchBy}]]*/'hot';
        var districtKey = /*[[${district == null ? '' : district.urlKey}]]*/'';
        var districtId = /*[[${district == null ? 0 : district.id}]]*/'';
        var developerId = /*[[${developer == null ? 0 : developer.id}]]*/'';
        var searchKey = /*[[${searchKey}]]*/'hot';

        var lang = 0;

        if (/*[[${'en' eq #locale.language}]]*/false) {
            lang = 1;
        }

        if (/*[[${'zh' eq #locale.language && 'CN' eq #locale.country}]]*/false) {
            lang = 2;
        }

        var last = false;

        var cp = /*[[${#httpServletRequest.contextPath}]]*/'';

        Handlebars.registerHelper("localText", function (tc, en, sc, defaultText, options) {
            var out = tc;
            switch (lang) {
                case 1:
                    out = en;
                    break;
                case 2:
                    if (sc != undefined && sc != null && sc.length > 0) {
                        out = sc;
                    }
                    break;
            }
            if (defaultText != undefined && defaultText != null && (out === undefined || out === null || out.length == 0)) {
                out = defaultText;
            }

            return out;
        });

        Handlebars.registerHelper("link", function (tc, en, sc, options) {
            var key = tc;
            switch (lang) {
                case 1:
                    key = en;
                    break;
                case 2:
                    key = sc;
                    break;
            }
            if (key === undefined || key === null || key.length == 0) {
                key = tc;
            }
            return cp + "/" + key;
        });

        var size = 12;
        var page = 0;


        var source;
        var template;

        function loadProperties() {
            if (!last) {
                var path = "/api/hot/properties";
                if ("district" === searchBy) {
                    path = "/api/districts/" + districtId + "/properties";
                } else if ("area" === searchBy) {
                    path = "/api/districts/" + districtId + "/areas/" + encodeURI(searchKey) + "/properties";
                } else if ("developer" === searchBy) {
                    path = "/api/developers/" + developerId + "/properties";
                } else if ("name" === searchBy) {
                    path = "/api/properties";
                }

                path = path + "?size=" + size + "&page=" + page;

                if ("name" === searchBy) {
                    path = path + "&searchname=" + encodeURI(searchKey);
                }

                //console.log(path);

                $.get(cp + path, function (data, status) {
                    var content = [];
                    if ("success" === status && data.errno === 0) {

                        page = page + 1;

                        content = data.data.content;
                        last = data.data.last;

                        var totalElements=data.data.totalElements;
                        if(totalElements>0) {

                            var html = template(content);

                            $("div#properties").append(html);


                            setTimeout(setHeights, 500);
                            for (var i = 0; i < 10; i++) {
                                setTimeout(setHeights, 1000 * i);
                            }
                        } else {
                            $("div#properties").html(noPropetyFound);
                        }

                        if (last === true) {
                            $('div#more-properties').hide();
                        } else {
                            $('div#more-properties').show();
                        }
                    }
                });
            }
        }


        $(document).ready(function () {

            $('.dropdown-toggle').dropdownHover();

            source = $("#entry-template").html();
            template = Handlebars.compile(source);


            loadProperties();

        });

        /*]]>*/
    </script>

    <div th:remove="tag"
         th:utext="${@frontendController.footerContent()}"></div>
</div>
