<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<div th:fragment="menu" th:remove="tag">


    <style th:if="${'en' eq #locale.language}">
        .nr .dropdown {
            width: auto;
        }
    </style>

    <div class="nr nr-firsthand-filter">
        <form th:action="@{/search}" method="get">
            <div class="container">
                <div class="row">
                    <div class=" col-sm-12 text-left">
                        <a href="#sec1" th:href="@{/new-property}" class="btn-default"
                           th:class="${'hot' eq searchBy ? 'btn-default active' : 'btn-default'}" th:text="#{hot}"></a>

                        <div th:remove="tag" th:each="dist : ${districts}" th:if="${dist.id le 3}">
                            <a th:if="${dist.id ge 4}" href="#"
                               th:href="@{'/district/' + ${dist.urlKey}}"
                               th:class="'btn-default'+ (${dist.id eq 5 or dist.id eq 6 or dist.id eq 7} ? ' hidden-xs' : '') + (${district!=null and dist.id eq district.id} ? ' active' : '')"
                               class="btn-default" th:inline="text">
                                [[${@ui.localeText(dist.nameTc,dist.nameEn, dist.nameSc)}]]
                            </a>

                            <div th:if="${dist.id lt 4}"
                                 th:class="'dropdown' + (${dist.id eq 5 or dist.id eq 6 or dist.id eq 7} ? ' hidden-xs' : '')">

                                <button class="btn btn-default dropdown-toggle" type="button"
                                        id="dropdown_district"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                                        th:inline="text">
                                    [[${@ui.localeText(dist.nameTc,dist.nameEn, dist.nameSc)}]]
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdown_district">
                                    <li><a th:href="@{'/district/' + ${dist.urlKey}}" th:text="#{all}">All</a>
                                    </li>
                                    <li th:each="area: ${dist.getAreas(#locale)}"
                                        th:with="name = ${@ui.localeText(area.nameTc, area.nameEn, area.nameSc)}">
                                        <a href="#" th:href="@{'/district/' + ${dist.urlKey} + '/' + ${name}}"
                                           th:text="${name}">area 2</a>
                                    </li>

                                </ul>
                            </div>

                        </div>

                        <div class="dropdown" th:if="false">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                                    id="dropdown_developer"
                                    aria-haspopup="true" aria-expanded="true" th:inline="text">
                                [[#{developer}]]
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdown_developer">
                                <li th:each="developer : ${developers}">
                                    <a href="#" th:href="@{'/developer/' + ${developer.urlKey}}"
                                       th:text="${@ui.localeText(developer.nameTc, developer.nameEn, developer.nameSc)}">area
                                        1</a>
                                </li>
                            </ul>
                        </div>
                        <div style="display: inline-block;max-width: 100%">
                        &emsp;<span class="hidden-xs" th:text=" #{or} "> 或 </span>

                            <input th:placeholder="#{search_by_name_placeholder}" placeholder="請輸入屋苑名稱（例如： 帝景灣）"
                                   name="name" style="min-width: 200px"
                                   th:value="${'name' eq searchBy ? searchKey : ''}"/>
                            <button class="btn-search">
                                <!--<img th:src="${@ui.assetsServer} +'/img/icon-search.png'"/> -->
                            </button>
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </form>
    </div>

</div>
</body>
</html>
