<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/layout::header">
    <meta charset="UTF-8"/>
    <title></title>
</head>

<body th:with="dtf=#{datetime.format}">

<div id="wrapper">

    <div th:replace="fragments/nav::nav">

    </div>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" th:text="#{dashboard}">Dashboard</h1>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-comments fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" th:text="${entryUpdate}">26</div>
                                <div th:text="#{entry_updated_today}">Entry Updated Today</div>
                            </div>
                        </div>
                    </div>
                    <a th:href="@{/cms/entry/updated-today}">
                        <div class="panel-footer">
                            <span class="pull-left" th:text="#{view_details}">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-tasks fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" th:text="${entryApproval}">5</div>
                                <div th:text="#{entry_pending_for_approval}">Entry Pending for Approval</div>
                            </div>
                        </div>
                    </div>
                    <a th:href="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}  ? @{/cms/approval/?pending}  : @{/cms/entry/pending}">
                        <div class="panel-footer">
                            <span class="pull-left" th:text="#{view_details}">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>


        </div>

        <div class="row" th:if="${ entries == null || ! #lists.isEmpty(entries.content)}">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong th:text="#{recent_updated_entry}">Recent Updated Entry</strong>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th th:text="#{unique_id}">Unique ID</th>
                                    <th th:text="#{name_tc}">Property Entry</th>
                                    <th th:text="#{name_en}">Property Entry</th>
                                    <th th:text="#{is_hide}">is hide</th>
                                    <th th:text="#{hidden_in_hkp}">is hide</th>
                                    <th th:text="#{time_modified}">Time Modified</th>
                                    <th th:text="#{approved}">Approved</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="entry : ${entries}">
                                    <td th:text="${entry.uid}">1</td>
                                    <td th:text="${entry.nameTc}">1</td>
                                    <td th:text="${entry.nameEn}">1</td>
                                    <td th:text="#{yes}" th:if="${entry.hidden}">yes</td>
                                    <td th:text="#{no}" th:if="${not entry.hidden}">no</td>
                                    <td th:text="#{yes}" th:if="${entry.hiddenForHkp}">yes</td>
                                    <td th:text="#{no}" th:if="${not entry.hiddenForHkp}">no</td>
                                    <td th:text="${#calendars.format(entry.modified, dtf)}">Mark</td>
                                    <td th:text="${@loginController.entryStatus(entry.status)}">Otto</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <span class="pull-left"><a href="#" th:href="@{/cms/entry/}" th:text="#{view_all_property_entry}">View All Property Entry</a></span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<div th:replace="fragments/layout::footer_script"></div>

</body>
</html>