
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:val="http://sourceforge.net/projects/html5valdialect">

<head>

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Midland CMS</title>

    <!-- Bootstrap Core CSS -->
    <link href="/resources/bower_components/bootstrap/dist/css/bootstrap.min.css" th:href="@{/resources/bower_components/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- MetisMenu CSS -->
    <link href="/resources/bower_components/metisMenu/dist/metisMenu.min.css" th:href="@{/resources/bower_components/metisMenu/dist/metisMenu.min.css}" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="/resources/bower_components/sb-admin-2/dist/css/sb-admin-2.css" th:href="@{/resources/bower_components/sb-admin-2/dist/css/sb-admin-2.css}" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link href="/resources/bower_components/font-awesome/css/font-awesome.min.css" th:href="@{/resources/bower_components/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div class="container">
<div class="row" th:fragment="content">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" th:text="#{index.please_sign_in}">Please Sign In</h3>
            </div>
            <div class="panel-body">
                <form action="#" th:action="@{/login}" th:object="${user}" method="post" role="form">
                    <ul th:if="${#fields.hasErrors('*')}" class="errors span-18">
                        <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                    </ul>
                    <fieldset>
                        <div class="form-group">
                            <input type="text" th:field="*{username}" autofocus="autofocus" class="form-control"
                                   th:placeholder="#{User.username}" required="required"/>
                            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</span>
                        </div>

                        <div class="form-group"><input type="password" th:field="*{password}" class="form-control"
                                                       th:placeholder="#{User.password}"/>
                            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Passord Error</span>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input name="remember" id="remember" type="checkbox" value="Remember Me" />Remember Me
                            </label>
                        </div>

                        <button class="btn btn-lg btn-success btn-block" type="submit" th:text="#{index.login}">Login
                        </button>

                    </fieldset>

                </form>
            </div>

        </div>
    </div>
</div>
</div>

<!-- jQuery -->
<script src="/resources/bower_components/jquery/dist/jquery.min.js" th:src="@{/resources/bower_components/jquery/dist/jquery.min.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/resources/bower_components/bootstrap/dist/js/bootstrap.min.js" th:src="@{/resources/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/resources/bower_components/metisMenu/dist/metisMenu.min.js" th:src="@{/resources/bower_components/metisMenu/dist/metisMenu.min.js}"></script>

<!-- Custom Theme JavaScript -->
<script src="/resources/bower_components/sb-admin-2/dist/js/sb-admin-2.js" th:src="@{/resources/bower_components/sb-admin-2/dist/js/sb-admin-2.js}"></script>

    <script src="/resources/bower_components/jquery/dist/jquery.cookie.js" th:src="@{/resources/bower_components/jquery/dist/jquery.cookie.js}"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            var login_user = $.cookie('login_user');
            if(login_user.length>0){
                $('#remember').attr("checked","checked");
            }
        });
    </script>

</body>
</html>