
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Midland CMS</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="${@loginController.assetsServer} + '/bower_components/bootstrap/dist/css/bootstrap.min.css'" rel="stylesheet"/>

    <!-- MetisMenu CSS -->
    <link th:href="${@loginController.assetsServer} + '/bower_components/metisMenu/dist/metisMenu.min.css'" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link th:href="${@loginController.assetsServer} + '/bower_components/sb-admin-2/dist/css/sb-admin-2.css'" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link th:href="${@loginController.assetsServer} + '/bower_components/font-awesome/css/font-awesome.min.css'" rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div class="container">
<div class="row" th:fragment="content">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" th:text="#{please_sign_in}">Please Sign In</h3>
            </div>
            <div class="panel-body">
                <div class="alert alert-danger" th:if="${param.error}">
                    Invalid usernamd or password!
                </div>

                <div class="alert alert-info" th:if="${param.logout}">
                    You have been logged out.
                </div>
                <form id="loginForm" action="#" th:action="@{/cms/}" method="post" role="form">

                    <fieldset>
                        <div class="form-group">
                            <input type="text" name="username" id="username" class="form-control"
                                   th:placeholder="#{username}" required="required"/>
                        </div>

                        <div class="form-group"><input type="password" name="password" id="password" class="form-control"
                                                       th:placeholder="#{password}" required="required"/>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input name="remember" id="remember" type="checkbox" value="Remember Me" />Remember Me
                            </label>
                        </div>

                        <button class="btn btn-lg btn-success btn-block" type="submit" th:text="#{login}">Login
                        </button>

                    </fieldset>

                </form>
            </div>

        </div>
    </div>
</div>
</div>

<!-- jQuery -->
<script th:src="${@loginController.assetsServer} + '/bower_components/jquery/dist/jquery.min.js'"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="${@loginController.assetsServer} + '/bower_components/bootstrap/dist/js/bootstrap.min.js'"></script>

<!-- Metis Menu Plugin JavaScript -->
<script th:src="${@loginController.assetsServer} + '/bower_components/metisMenu/dist/metisMenu.min.js'"></script>

<!-- Custom Theme JavaScript -->
<script th:src="${@loginController.assetsServer} + '/bower_components/sb-admin-2/dist/js/sb-admin-2.js'"></script>

<script th:src="${@loginController.assetsServer} + '/bower_components/jquery/dist/jquery.cookie.js'"></script>

    <script type="text/javascript">
        <!--
        $(document).ready(function(){
            var login_user = $.cookie('login_user');

            var remember =  $('#remember');
            var username = $('#username');
            var loginForm = $("#loginForm");
            var password = $("#password");

            if(login_user && login_user.length > 0){
                remember.attr("checked","checked");
                username.val(login_user);
                password.focus();
            } else {
                username.focus();
            }

            loginForm.submit(function(e){
                if(remember.is(":checked")){
                    $.cookie("login_user", username.val());
                } else {
                    $.removeCookie("login_user");
                }
            });
        });
        //-->
    </script>
</body>
</html>