<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:val="http://sourceforge.net/projects/html5valdialect">
<head th:replace="fragments/layout::header">
    <meta charset="UTF-8"/>
    <title></title>
</head>

<body th:with="df=#{date.format}">

<div id="wrapper">

    <div th:replace="fragments/nav::nav">

    </div>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" th:text="#{profile}">Profile</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong >Update Profile</strong>
                    </div>
                    <div class="panel-body">
                        <form role="form" th:action="@{/cms/profile}" method="post" th:object="${user}" val:validate="${user}" class="form-horizontal" >
                            <div th:if="${#fields.hasErrors('*')}">
                                <div th:each="err : ${#fields.errors('*')}" th:text="${err}" class="alert alert-danger">Input is incorrect</div>
                            </div>

                            <div th:replace="fragments/layout::messages"></div>

                            <fieldset>
                                <!--<legend>Update Profile</legend>-->

                                <div class="form-group">
                                    <label class="col-md-2 control-label">Username</label>
                                    <div class="col-md-10 form-control-static" th:text="${#httpServletRequest.remoteUser}" >
                                        Admin
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="name">Name</label>
                                    <div class="col-md-10" >
                                        <input type="text" th:field="*{name}" class="form-control"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="email">Email</label>
                                    <div class="col-md-10" >
                                        <input type="email" th:field="*{email}" class="form-control"/>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="oriPwd">Original Password</label>
                                    <div class="col-md-10" >
                                        <input type="password" id="oriPwd" name="oriPwd" class="form-control"/>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="newPwd">New Password</label>
                                    <div class="col-md-10" >
                                        <input type="password" id="newPwd" name="newPwd" class="form-control"/>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="cfmPwd">Confirm Password</label>
                                    <div class="col-md-10" >
                                        <input type="password" id="cfmPwd" name="cfmPwd" class="form-control"/>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-md-2 control-label">Time Modified</label>
                                    <div class="col-md-10 form-control-static" th:text="${user.modified == null ? '' : #calendars.format(user.modified, df)}" >
                                        Admin
                                    </div>
                                </div>

                                <div class="form-action col-md-offset-2">
                                    <button type="submit" class="btn btn-lg btn-default" style="margin-right: 20px" th:text="#{submit}">Submit</button>
                                    <button type="reset" class="btn btn-lg btn-default" th:text="#{reset}">Reset</button>

                                </div>


                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/layout::footer_script"></div>


</body>
</html>