<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:val="http://sourceforge.net/projects/html5valdialect">
<head th:replace="fragments/layout::header">
    <meta charset="UTF-8"/>
    <title></title>
</head>

<link th:href="${@loginController.assetsServer} + '/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css'"
      rel="stylesheet"/>

<body th:with="df=#{date.format}">

<div id="wrapper" th:with="dtf=#{datetime.format}">

    <div th:replace="fragments/nav::nav">

    </div>
    <div id="page-wrapper" th:with="h5df=#{html5date.format}">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"
                    th:text="${mode} eq 'add' ? #{add_new_property_entry} : #{1st_hand_property_listing}">Add New
                    Property Entry</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong th:text="${mode} eq 'add' ? #{add_new_property_entry_step_1} : #{edit_property_entry}">Add
                            New Property Entry Step 1</strong>
                    </div>
                    <div class="panel-body">
                        <form id="entry-form" name="entry-form" role="form"
                              th:action="${mode} eq 'add' ? @{/cms/entry/add} :  @{'/cms/entry/edit/' + ${entry.id}} "
                              method="post"
                              th:object="${entry}" val:validate="${entry}" class="form-horizontal"
                              enctype="multipart/form-data">
                            <fieldset>
                                <legend th:text="#{property_info}">Property Info</legend>
                                <div th:if="${#fields.hasErrors('*')}">
                                    <div th:each="err : ${#fields.errors('*')}" th:text="${err}"
                                         class="alert alert-danger">Input is incorrect
                                    </div>
                                </div>

                                <div th:replace="fragments/layout::messages"></div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="district.id"
                                           th:inline="text">[[#{area}]]:</label>

                                    <div class="col-md-9">
                                        <select th:field="*{district.id}" class="form-control">
                                            <option th:each="district : ${districts}" th:value="${district.id}"
                                                    th:text="${district.getName(#locale)}" autofocus="">Hong Kong
                                            </option>
                                        </select>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="hidden" th:inline="text">[[#{hidden_in_frontend_api}]]</label>

                                    <div class="col-md-9">
                                        <input type="checkbox" th:field="*{hidden}" class="form-control"/>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="hiddenForHkp" th:inline="text">[[#{hidden_in_frontend_api_hkp}]]</label>

                                    <div class="col-md-9">
                                        <input type="checkbox" th:field="*{hiddenForHkp}" class="form-control"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="hot" th:inline="text">[[#{listed_as_hot_item}]]</label>

                                    <div class="col-md-9">
                                        <input type="checkbox" th:field="*{hot}" class="form-control"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="uid"
                                           th:inline="text">[[#{unique_id}]]</label>

                                    <div class="col-md-9">
                                        <input type="text" th:field="*{uid}" class="form-control" required="required"
                                               th:readonly="${entry.id != null}"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="nameTc" th:inline="text">[[#{property_name_tc}]]</label>

                                    <div class="col-md-9">
                                        <input type="text" th:field="*{nameTc}" class="form-control"
                                               required="required"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="urlKeyTc" th:inline="text">[[#{property_url_tc}]]</label>

                                    <div class="col-md-9">
                                        <span th:text="${@ui.appServer} + ${#httpServletRequest.contextPath} + '/'">http://firsthand.midland.com/</span>
                                        <input type="text" th:field="*{urlKeyTc}" style="width: 200px"
                                               required="required"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="nameEn" th:inline="text">[[#{property_name_en}]]</label>

                                    <div class="col-md-9">
                                        <input type="text" th:field="*{nameEn}" class="form-control"
                                               required="required"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="urlKeyEn" th:inline="text">[[#{property_url_en}]]</label>

                                    <div class="col-md-9">
                                        <span th:text="${@ui.enAppServer} + ${#httpServletRequest.contextPath} + '/'">http://firsthand.midland.com/</span>
                                        <input type="text" th:field="*{urlKeyEn}" style="width: 200px"
                                               required="required"/>
                                    </div>
                                </div>


                                <!--<div class="form-group">
                                    <label class="col-md-3 control-label" for="nameSc" th:inline="text">[[#{property_name_sc}]]</label>

                                    <div class="col-md-9">
                                        <input type="text" th:field="*{nameSc}" class="form-control"
                                               required="required"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="urlKeySc" th:inline="text">[[#{property_url_sc}]]</label>

                                    <div class="col-md-9">
                                        <span th:text="${@ui.scAppServer} + ${#httpServletRequest.contextPath} + '/'">http://firsthand.midland.com/</span>
                                        <input type="text" th:field="*{urlKeySc}" style="width: 200px"
                                               required="required"/>
                                    </div>
                                </div>-->


                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="imageFile" th:inline="text">[[#{property_image}]]</label>

                                    <div class="col-md-9">
                                        <div th:if="${entry.uploadFile != null}"><a th:href="${entry.imageUrl}"
                                                                                    target="_blank"
                                                                                    th:text="${entry.uploadFile.name}"></a> <span
                                                th:text="${entry.uploadFile.bytes}"></span></div>
                                        <input type="file" id="imageFile" name="imageFile" class="form-control"
                                               accept="image/*"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="youtube" th:inline="text">[[#{youtube_link}]]
                                        <a data-toggle="modal" data-target="#youtubeLinkModal"><i
                                                class="fa fa-question-circle"/></a>
                                    </label>

                                    <div class="col-md-9">
                                        <input type="url" th:field="*{youtube}" class="form-control"/>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="phaseNum" th:inline="text">[[#{phase_num_tc}]]</label>

                                    <div class="col-md-9">
                                        <input type="text" th:field="*{phaseNum}" class="form-control"/>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="phaseNumEn" th:inline="text">[[#{phase_num_en}]]</label>

                                    <div class="col-md-9">
                                        <input type="text" th:field="*{phaseNumEn}" class="form-control"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="phaseNameTc" th:inline="text">[[#{phase_name_tc}]]</label>

                                    <div class="col-md-9">
                                        <input type="text" th:field="*{phaseNameTc}" class="form-control"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="phaseNameEn" th:inline="text">[[#{phase_name_en}]]</label>

                                    <div class="col-md-9">
                                        <input type="text" th:field="*{phaseNameEn}" class="form-control"/>
                                    </div>
                                </div>

                               <!-- <div class="form-group">
                                    <label class="col-md-3 control-label" for="phaseNameSc" th:inline="text">[[#{phase_name_sc}]]</label>

                                    <div class="col-md-9">
                                        <input type="text" th:field="*{phaseNameSc}" class="form-control"/>
                                    </div>
                                </div>-->


                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="devProjectTc" th:inline="text">[[#{dev_project_tc}]]</label>

                                    <div class="col-md-9">
                                        <input type="text" th:field="*{devProjectTc}" class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="devProjectEn" th:inline="text">[[#{dev_project_en}]]</label>

                                    <div class="col-md-9">
                                        <input type="text" th:field="*{devProjectEn}" class="form-control"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="areaTc" th:inline="text">[[#{dev_app_tc}]]</label>

                                    <div class="col-md-9">
                                        <input type="text" th:field="*{areaTc}" class="form-control"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="areaEn" th:inline="text">[[#{dev_app_en}]]</label>

                                    <div class="col-md-9">
                                        <input type="text" th:field="*{areaEn}" class="form-control"/>
                                    </div>
                                </div>

                               <!-- <div class="form-group">
                                    <label class="col-md-3 control-label" for="areaSc" th:inline="text">[[#{dev_app_sc}]]</label>

                                    <div class="col-md-9">
                                        <input type="text" th:field="*{areaSc}" class="form-control"/>
                                    </div>
                                </div>-->

                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="addrTc"
                                           th:inline="text">[[#{addr_tc}]]</label>

                                    <div class="col-md-9">
                                        <input type="text" th:field="*{addrTc}" class="form-control"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="addrEn"
                                           th:inline="text">[[#{addr_en}]]</label>

                                    <div class="col-md-9">
                                        <input type="text" th:field="*{addrEn}" class="form-control"/>
                                    </div>
                                </div>

                               <!-- <div class="form-group">
                                    <label class="col-md-3 control-label" for="addrSc"
                                           th:inline="text">[[#{addr_sc}]]</label>

                                    <div class="col-md-9">
                                        <input type="text" th:field="*{addrSc}" class="form-control"/>
                                    </div>
                                </div>-->

                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="developer"
                                           th:inline="text">[[#{developer}]]</label>

                                    <div class="col-md-6">

                                        <select th:field="*{developer.id}" th:id="developer-id" class="form-control"
                                                required="required">

                                        </select>


                                    </div>
                                    <button class="btn form-control-static" type="button"
                                            th:text="#{add}"
                                            id="btn-add-developer">Add
                                    </button>
                                </div>


                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="lat" th:inline="text">[[#{google_map_latlng}]]</label>

                                    <div class="col-md-9">

                                        <input type="text" th:field="*{lat}" id="lat"
                                               class="form-control-static col-md-4" th:placeholder="Latitude"
                                               style="line-height: 20px"/>
                                        <input type="text" th:field="*{lng}" id="lng"
                                               class="form-control-static col-md-4 col-xs-offset-1"
                                               th:placeholder="Longitude" style="line-height: 20px"/>

                                        <button class="btn form-control-static col-xs-offset-1" data-toggle="modal"
                                                type="button"
                                                data-target="#map_modal" th:text="#{show_map}">Show Map
                                        </button>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="projectUrl" th:inline="text">[[#{project_url}]]</label>

                                    <div class="col-md-9">
                                        <input type="url" th:field="*{projectUrl}" class="form-control"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="salesManualUrl" th:inline="text">[[#{sales_manual_url}]]</label>

                                    <div class="col-md-9">
                                        <input type="url" th:field="*{salesManualUrl}" class="form-control"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="keyDate"
                                           th:inline="text">[[#{key_date}]]</label>

                                    <div class="col-md-9">
                                        <input type="date" th:field="*{keyDate}" class="form-control datepicker"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="kindergartenSchoolNetwork"
                                           th:inline="text">[[#{kindergarten_school_network_tc}]]</label>

                                    <div class="col-md-9">
                                        <input type="text" th:field="*{kindergartenSchoolNetwork}"
                                               class="form-control"/>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="kindergartenSchoolNetworkEn"
                                           th:inline="text">[[#{kindergarten_school_network_en}]]</label>

                                    <div class="col-md-9">
                                        <input type="text" th:field="*{kindergartenSchoolNetworkEn}"
                                               class="form-control"/>
                                    </div>
                                </div>


                               <!-- <div class="form-group">
                                    <label class="col-md-3 control-label" for="kindergartenSchoolNetworkSc"
                                           th:inline="text">[[#{kindergarten_school_network_sc}]]</label>

                                    <div class="col-md-9">
                                        <input type="text" th:field="*{kindergartenSchoolNetworkSc}"
                                               class="form-control"/>
                                    </div>
                                </div>-->

                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="primarySchoolNetwork" th:inline="text">[[#{primary_school_network_tc}]]</label>

                                    <div class="col-md-9">
                                        <input type="text" th:field="*{primarySchoolNetwork}" class="form-control"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="primarySchoolNetworkEn" th:inline="text">[[#{primary_school_network_en}]]</label>

                                    <div class="col-md-9">
                                        <input type="text" th:field="*{primarySchoolNetworkEn}" class="form-control"/>
                                    </div>
                                </div>

                               <!-- <div class="form-group">
                                    <label class="col-md-3 control-label" for="primarySchoolNetworkSc" th:inline="text">[[#{primary_school_network_sc}]]</label>

                                    <div class="col-md-9">
                                        <input type="text" th:field="*{primarySchoolNetworkSc}" class="form-control"/>
                                    </div>
                                </div>-->

                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="secondarySchoolNetwork" th:inline="text">[[#{secondary_school_network_tc}]]</label>

                                    <div class="col-md-9">
                                        <input type="text" th:field="*{secondarySchoolNetwork}" class="form-control"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="secondarySchoolNetworkEn"
                                           th:inline="text">[[#{secondary_school_network_en}]]</label>

                                    <div class="col-md-9">
                                        <input type="text" th:field="*{secondarySchoolNetworkEn}" class="form-control"/>
                                    </div>
                                </div>

                              <!--  <div class="form-group">
                                    <label class="col-md-3 control-label" for="secondarySchoolNetworkSc"
                                           th:inline="text">[[#{secondary_school_network_sc}]]</label>

                                    <div class="col-md-9">
                                        <input type="text" th:field="*{secondarySchoolNetworkSc}" class="form-control"/>
                                    </div>
                                </div>-->

                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="tracking" th:inline="text">[[#{tracking}]]</label>

                                    <div class="col-md-9">
                                        <input type="checkbox" th:field="*{tracking}" class="form-control"/>
                                    </div>
                                </div>

                                <div class="form-group" th:each="category : ${categories}">
                                    <label class="col-md-3 control-label" th:for="${'tracking-url-' + category.id}"
                                           th:inline="text">[[#{tracking_url}]]([[${category.name}]])</label>

                                    <div class="col-md-9">
                                        <input type="text" th:id="${'tracking-url-' + category.id}"
                                               th:value="${trackingUrlMap[category.id]}" name="trackingUrl"
                                               class="form-control tracking-url"/>
                                    </div>
                                </div>


                                <div class="well center" th:if="${entry.id == null}">
                                    <button class="btn btn-lg btn-default" type="submit"
                                            th:text="${mode} eq 'add' ? #{create} : #{update}"
                                            style="margin-right: 30px">Create
                                    </button>
                                    <button class="btn btn-lg btn-default" type="reset" th:text="#{reset}">Reset
                                    </button>
                                </div>

                            </fieldset>

                            <div th:if="${entry.id != null}" th:remove="tag">
                                <div th:replace="entry/step_2::entry_doc_div"></div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="map_modal" tabindex="-1" role="dialog"
     aria-labelledby="map_modal_label" aria-hidden="true" data-show="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="map_modal_label">Google Map</h4>
            </div>
            <div class="modal-body">

                <div id="map" style="width: 100%;height: 500px"></div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                        th:text="#{ok}">Ok
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="youtubeLinkModal" tabindex="-1" role="dialog" aria-labelledby="youtubeLinkModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="width: 900px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="youtubeLinkModalLabel">Youtube Link</h4>
            </div>
            <div class="modal-body">
                <img th:src="${@loginController.assetsServer}+'/img/youtube_link.jpg'"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>





<form id="developer-form" th:action="@{'/cms/developer/add/'}"
      class="form-horizontal" method="post">
    <div class="modal fade" id="developer-modal" tabindex="-1" role="dialog"
         aria-labelledby="developer-modal-label" aria-hidden="true" data-show="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="developer-modal-label"
                        th:text="#{add_developer}">Add Developer</h4>
                </div>
                <div class="modal-body">

                    <div id="developer-loading" class="loading">
                        <i class="fa fa-spinner fa-spin fa-3x"></i>
                    </div>
                    <div id="developer-result"></div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="name_tc"
                               id="name_tc_label"
                               th:inline="text">[[#{name_tc}]]:</label>

                        <div class="col-md-9">
                            <input type="text" id="name_tc" name="nameTc"
                                   class="form-control" required="required"/>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-md-3 control-label" for="name_en"
                               id="name_en_label"
                               th:inline="text">[[#{name_en}]]:</label>

                        <div class="col-md-9">
                            <input type="text" id="name_en" name="nameEn"
                                   class="form-control" required="required"/>
                        </div>
                    </div>


                   <!-- <div class="form-group">
                        <label class="col-md-3 control-label" for="name_sc"
                               id="name_sc_label"
                               th:inline="text">[[#{name_sc}]]:</label>

                        <div class="col-md-9">
                            <input type="text" id="name_sc" name="nameSc"
                                   class="form-control" required="required"/>
                        </div>
                    </div>-->


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                            th:text="#{cancel}">Cancel
                    </button>
                    <button id="add_submit" type="submit" class="btn btn-primary"
                            th:text="#{add}">Add
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>


<div th:if="${entry.id != null}" th:remove="tag" th:include="entry/step_2::modal_forms">
</div>

<div th:replace="fragments/layout::footer_script"></div>


<div th:if="${entry.id != null}" th:remove="tag" th:include="entry/step_2::scripts">
</div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"
        th:if="not ${@ui.devMode}"></script>
<script src="http://ditu.google.cn/maps/api/js?sensor=false&amp;language=zh-CN"
        th:if="${@ui.devMode}"></script>




<script th:src="${@loginController.assetsServer} + '/bower_components/jquery-form/jquery.form.js'"
        type="text/javascript" th:if="${entry.id == null}"/>

<script th:src="${@loginController.assetsServer} + '/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js'"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    var map;
    var marker = null;
    var centerLat = 22.381825343914965, centerLng = 114.11361694335938;//center on hk

    var centerLatlng = (window.google) ? new google.maps.LatLng(centerLat, centerLng) : '';

    function initMap() {

        if (!window.google) {
            return;
        }

        var mapOptions = {
            zoom: 10,
            disableDefaultUI: false,
            center: centerLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        map = new google.maps.Map(document.getElementById('map'), mapOptions);

        var latInput = $("#entry-form #lat");
        var lngInput = $("#entry-form #lng");

        if (latInput.val().length > 0 && lngInput.val().length > 0) {

            console.log("lat: " + latInput.val());
            console.log("lng: " + lngInput.val());

            if (marker) {
                marker.setMap(null);
            }
            centerLatlng = new google.maps.LatLng(latInput.val(), lngInput.val());
            marker = new google.maps.Marker({position: centerLatlng, map: map});
            map.setCenter(centerLatlng);
        }


        google.maps.event.addListener(map, 'click', function (event) {
            //call function to create marker

            latInput.val(event.latLng.lat());
            lngInput.val(event.latLng.lng());


            //delete the old marker
            if (marker) {
                marker.setMap(null);
            }

            marker = new google.maps.Marker({position: event.latLng, map: map});

        });

    }

    function fillDeveloperSelect() {
        var idSel = $('#developer-id option');

        var devSel = $('#developer-id option:selected').val();
        if (!devSel || devSel.length < 1) {
            devSel = /*[[${entry.developer.id}]]*/ '';
        }


        $.get(cp + "/api/developers/", function (data, status) {
            console.log(data);
            if (data && data.errno != undefined && data.errno == 0) {


                idSel.remove();

                var developers = data.data;

                $(developers).each(function (i, e) {
                    var selected = '';
                    if (devSel > 0 && devSel == e.id) {
                        selected = " selected='selected'";
                    }
                    var name = e.nameTc;
                    if (lang === 1) {
                        name = e.nameEn;
                    } else if (lang === 2) {
                        name = e.nameSc;
                    }
                    $('#developer-id').append("<option value='" + e.id + "' " + selected + ">" + name + "</option>");
                });
            }
        });
    }

    function initDeveloperForm() {
        var addDocForm = $('#developer-form');

        addDocForm.on('submit', function (ev) {
            ev.preventDefault();

            loading = "#developer-loading";

            var message = serverError;


            $(this).ajaxSubmit({
                success: function (json) {
                    console.log(json);
                    if (json) {
                        message = json.msg;
                        if (json.errno == 0 && json.data != undefined && json.data != null) {


                            var name = json.data.nameTc;
                            if (lang === 1) {
                                name = json.data.nameEn;
                            } else if (lang === 2) {
                                name = json.data.nameSc;
                            }
                            $('#developer-id').append("<option value='" + json.data.id + "' selected='selected'>" + name + "</option>");


                            $('#developer-modal').modal('hide');
                            return;
                        }
                    }
                    failureAlert('#developer-result', message);
                },
                error: function () {
                    failureAlert('#developer-result', message);
                }
            });
        });
    }


    function checkUidExists(uid) {
        if (uid === undefined || uid === null || uid.length < 1) {
            return;
        }

        var regex = /^[a-zA-Z0-9]+$/;
        if(!uid.match(regex)){
            var msg = /*[[#{invalid_uid}]]*/'';
            messageModal(msg);
            return;
        }


        $.get(cp + "/cms/entry/uidExists?uid=" + uid, function (json, status) {
            if ('success' === status && json.errno == 0) {
                var exists = json.data.exists;
                if (exists) {
                    var msg = /*[[#{uid_exists}]]*/'';
                    messageModal(msg.replace('{0}', uid));
                }
            }
        });
    }


    $(document).ready(function () {
        $("input#nameTc").change(function () {
            $("input#urlKeyTc").val(toUrlKey($(this).val()));
        });

        $("input#nameEn").change(function () {
            $("input#urlKeyEn").val(toUrlKey($(this).val()));
        });

        $("input#nameSc").change(function () {
            $("input#urlKeySc").val(toUrlKey($(this).val()));
        });

        if (/*[[${entry.id == null}]]*/false) {
            $("input#uid").blur(function () {
                var uid = $(this).val();
                checkUidExists(uid);
            });
        }

        /*
         $("input#nameTc").blur(function(){
         $("input#urlKeyTc").val(toUrlKey($(this).val()));
         });

         $("input#nameEn").blur(function(){
         $("input#urlKeyEn").val(toUrlKey($(this).val()));
         });

         $("input#nameSc").blur(function(){
         $("input#urlKeySc").val(toUrlKey($(this).val()));
         });
         */
        if (/*[[${not entry.tracking}]]*/true) {
            $("input.tracking-url").attr("disabled", "disabled");
        }


        $("input[name=tracking]").change(function () {
            var checked = $(this).prop('checked');
            console.log(checked);
            if (checked) {
                $("input.tracking-url").removeAttr("disabled");
            } else {
                $("input.tracking-url").attr("disabled", "disabled");
            }
        });


        if ($(".datepicker").datepicker && !isChrome() && !isOpera()) {
            $(".datepicker").datepicker({
                format: 'yyyy-mm-dd'
            });
        }

        fillDeveloperSelect();
        initDeveloperForm();


        initMap();
    });


    var firstShow = true;

    $('#map_modal').on('shown.bs.modal', function () {
        console.log("map_modal shown");
        google.maps.event.trigger(map, "resize");

        if (firstShow) {
            map.setCenter(centerLatlng);
            firstShow = false;
        }
    });

    $('#btn-add-developer').on('click', function () {
        $("#developer-form").ajaxForm().clearForm();
        $('#developer-modal').modal('show');
    });

    /*]]>*/
</script>


</body>
</html>