<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/layout::header">
    <meta charset="UTF-8"/>
    <title></title>
</head>

<body th:with="df=#{datetime.format}">
<div id="wrapper">

    <div th:replace="fragments/nav::nav">

    </div>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" th:text="#{1st_hand_property_listing}">1st Hand Property Listing</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div th:replace="fragments/layout::messages">
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong th:text="#{all_property_entry}">All Property Entry</strong>
                    </div>
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <table class="table table-striped table-hover" id="dataTables">
                                <thead>
                                <tr>
                                    <th th:text="#{unique_id}">Unique ID</th>
                                    <th th:text="#{name_tc}">Property Entry</th>
                                    <th th:text="#{name_en}">Property Entry</th>
                                    <th th:text="#{is_hide}">is hide</th>
                                    <th th:text="#{hidden_in_hkp}">is hide</th>
                                    <th th:text="#{creation_time}">Creation Time</th>
                                    <th th:text="#{time_modified}">Time Modified</th>
                                    <th th:text="#{status}">Status</th>
                                    <th th:text="#{edit}">Edit</th>
                                    <th th:text="#{delete}">Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form id="delete-entry-form" th:action="@{/cms/entry/delete}" method="post" sec:authorize="hasRole('ROLE_ADMIN')">
    <div class="modal fade" id="delete-entry-modal" tabindex="-1" role="dialog"
         aria-labelledby="delete-entry-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="delete-entry-modal-label">Confirm Delete</h4>
                </div>
                <div class="modal-body" th:text="#{confirm_delete_this_property}">
                    Confirm Logout?
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>
    <input id="entry-id" type="hidden" name="id" value=""/>
</form>

<div th:replace="fragments/layout::footer_script"></div>

<script type="text/javascript">
    <!--
    var admin = false;
    //-->
</script>

<script type="text/javascript" sec:authorize="hasRole('ROLE_ADMIN')">
    <!--
    admin = true;

    function deleteEntry(id){
        $('#delete-entry-form #entry-id').val(id);
        $('#delete-entry-modal').modal('show');
    }
    //-->
</script>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    function entryStatus(status) {
        if ('A' == status) {
            return /*[[#{Entry.status.A}]]*/'Approved';
        } else if ('P' == status) {
            return /*[[#{Entry.status.P}]]*/'Pending';
        } else if ('R' == status) {
            return /*[[#{Entry.status.R}]]*/'Rejected';
        }
        return '';
    }

    $(document).ready(function () {
        var config = entryDataTableConfirg();

        config['dom'] = '<"row"<"col-sm-4"l><"col-sm-4"<"dataTables_status">><"col-sm-4"f>>tr<"row"<"col-sm-6"i><"col-sm-6"p>>';



        if (!admin) {
            config['columnDefs'].push({"visible": false, "targets": 7});
        }

        var table = $('#dataTables').dataTable(config);


        $("div.dataTables_status").html('<label>' + /*[[#{status_filter}]]*/'Status Filter'
                + ': <select name="dataTables_status" aria-controls="dataTables" class="form-control input-sm">' +
                '<option value="">-</option>' +
                '<option value="A">' + entryStatus('A') + '</option>' +
                '<option value="P">' +  entryStatus('P') + '</option>' +
                '</select></label>');

        $('div.dataTables_status select').change(function () {
            /*
             var input = $('.dataTables_length select');
             console.log(input);
             input.trigger('change');
             */
            table._fnAjaxUpdate();
        });
    });

    /*]]>*/
</script>

</body>
</html>