<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout::header">
    <meta charset="UTF-8"/>
    <title></title>
</head>

<body>

<div id="wrapper">

    <style>
        .reorder-select {
            height: 600px;
        }

        .reorder-select optgroup {
            background-color: #ececec;
            padding: 5px
        }

        .reorder-select option {
            padding: 5px
        }
    </style>

    <div th:replace="fragments/nav::nav">

    </div>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" th:text="#{edit_property_ordering}">Edit Property Ordering</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div th:replace="fragments/layout::messages">
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong th:text="#{edit_property_ordering}">Edit Sort Order</strong>
                    </div>
                    <div class="panel-body">
                        <form role="form" id="frm-sort" th:action="@{/cms/entry/sort}" method="post">
                            <!--
                            <div class=" col-xs-5">
                                <select name="unsorted" id="unsorted" size="20" class="form-control reorder-select"
                                        multiple="multiple">
                                    <optgroup th:label="#{unsort_property_entry}">Unsort Property Entry</optgroup>
                                    <option th:each="reorder : ${unsorted}" th:value="${reorder.uid}"
                                            th:text="${@frontendController.localeText(reorder.nameTc, reorder.nameEn,reorder.nameSc, #httpServletRequest)}"></option>
                                </select>
                            </div>
                            <div class="col-xs-1 center">
                                <button type="button" class="btn btn-default btn-circle btn-lg btn-change-sel" id="btn-add" style="margin-bottom: 20px">
                                    <i class="fa fa-arrow-right"></i>
                                </button>
                                <button type="button" class="btn btn-default btn-circle btn-lg btn-change-sel" id="btn-remove"><i
                                        class="fa fa-arrow-left"></i></button>
                            </div>
                            -->
                            <div class=" col-xs-5">
                                <select name="sorted" id="sorted" size="20" class="form-control reorder-select"
                                        multiple="multiple">
                                    <!--
                                    <optgroup th:label="#{sorted_list}" style="">Sort List</optgroup>
                            -->
                                    <option th:each="reorder : ${sorted}" th:value="${reorder.uid}"
                                            th:text="${@frontendController.localeText(reorder.nameTc, reorder.nameEn,reorder.nameSc, #httpServletRequest)}"></option>
                                </select>
                            </div>
                            <div class="col-xs-1 center">
                                <button type="button" class="btn btn-default btn-circle btn-lg btn-change-sel" id="btn-up" style="margin-bottom: 20px"><i
                                        class="fa fa-arrow-up"></i></button>
                                <button type="button" class="btn btn-default btn-circle btn-lg btn-change-sel" id="btn-down"><i
                                        class="fa fa-arrow-down"></i></button>
                            </div>
                            <div class="col-lg-12 center" style="padding-top: 30px;">

                                <button type="button" id="btn-submit" class="btn btn-lg btn-primary" th:text="#{submit}"
                                        style="margin-right: 30px">Submit</button>
                                <a th:href="@{/cms/entry/reorder}" id="btn-reset" class="btn btn-lg btn-default" th:text="#{reset}">Reset</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/layout::footer_script"></div>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    $(document).ready(function () {
        $('#btn-add').click(function () {
            $('#unsorted option:selected').each(function () {
                $('#sorted').append("<option value='" + $(this).val() + "'>" + $(this).text() + "</option>");
                $(this).remove();
            });
        });
        $('#btn-remove').click(function () {
            $('#sorted option:selected').each(function () {
                $('#unsorted').append("<option value='" + $(this).val() + "'>" + $(this).text() + "</option>");
                $(this).remove();
            });
        });
        $('#btn-up').bind('click', function () {
            var selected = $('#sorted option:selected');
            if (selected.size() == 0) {
                return;
            }
            if ($('#sorted option').index(selected[0]) == 0) {
                return;
            }
            selected.each(function () {
                var newPos = $('#sorted option').index(this) - 1;
                if (newPos > -1) {
                    $('#sorted option').eq(newPos).before("<option value='" + $(this).val() + "' selected='selected'>" + $(this).text() + "</option>");
                    $(this).remove();
                }
            });
        });
        $('#btn-down').bind('click', function () {
            var selected = $('#sorted option:selected');
            if (selected.size() == 0) {
                return;
            }


            var countOptions = $('#sorted option').size();

            if ($('#sorted option').index(selected[selected.size() - 1]) >= countOptions - 1) {
                return;
            }

            /*
             selected.each(function () {
             var newPos = $('#sorted option').index(this) + 1;
             if (newPos < countOptions) {
             $('#sorted option').eq(newPos).after("<option value='" + $(this).val() + "' selected='selected'>" + $(this).text() + "</option>");
             $(this).remove();
             }
             });
             */
            for (var i = selected.size() - 1; i >= 0; i--) {
                var option = selected[i];
                var newPos = $('#sorted option').index(option) + 1;
                if (newPos < countOptions) {
                    $('#sorted option').eq(newPos).after("<option value='" + $(option).val() + "' selected='selected'>" + $(option).text() + "</option>");
                    $(option).remove();
                }
            }
        });

        $('#btn-submit').bind('click', function(){
            $('#unsorted option').attr("selected", "selected");
            $('#sorted option').attr("selected", "selected");
            $('.btn-change-sel').attr("disabled", "disabled");

            $("#frm-sort").submit();
        });
    });

    /*]]>*/
</script>

</body>
</html>