<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout::header">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<link th:if="${#strings.isEmpty(mode)}"
      th:href="${@loginController.assetsServer} + '/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css'"
      rel="stylesheet"/>
<body th:with="df=#{date.format}">

<div id="wrapper" th:with="dtf=#{datetime.format}">

    <div th:replace="fragments/nav::nav">

    </div>
    <div id="page-wrapper" th:with="h5df=#{html5date.format}">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" th:text="#{add_new_property_entry}">Add New Property Entry</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong th:text="#{add_new_property_entry_step_2}">Add New Property Entry Step 2</strong>
                    </div>
                    <div class="panel-body">
                        <form id="sales_manual_date_form"
                              th:action="@{'/cms/entry/step_2/'+${entry.id}}"
                              class="form-horizontal" method="post">
                            <div th:fragment="entry_doc_div" th:remove="tag">
                                <div th:text="${success_message}"></div>
                                <fieldset>
                                    <legend th:inline="text"><a name="date"/>[[#{sales_manual}]]:</legend>

                                    <div class="row">
                                        <div class="col-lg-12">

                                            <div id="sales_manual_date_loading" class="loading">
                                                <i class="fa fa-spinner fa-spin fa-3x"></i>
                                            </div>
                                            <div id="sales_manual_date_result"></div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label" for="print_date"
                                                       th:inline="text">[[#{first_print_date}]]:</label>

                                                <div class="col-md-9">
                                                    <input type="date" id="first_print_date"
                                                           name="printDate"
                                                           class="form-control datepicker"
                                                           th:value="${entry.printDate != null ? #calendars.format(entry.printDate, h5df) : ''}"/>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label" for="view_date"
                                                       th:inline="text">[[#{view_date}]]:</label>

                                                <div class="col-md-9">
                                                    <input type="date" id="view_date" name="viewDate"
                                                           class="form-control datepicker"
                                                           th:value="${entry.viewDate != null ? #calendars.format(entry.viewDate, h5df) : ''}"/>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label" for="doc_url_sb"
                                                       th:inline="text">[[#{url_hdr_sb}]]:</label>

                                                <div class="col-md-9">
                                                    <input type="url" id="doc_url_sb" name="docUrlSb"
                                                           class="form-control"
                                                           th:value="${entry.docUrlSb}"/>
                                                </div>
                                            </div>


                                        </div>
                                    </div>


                                    <div class="col-lg-12" id="vrs">

                                        <div class="panel panel-default">
                                            <div class="panel-heading" th:inline="text">
                                                <a name="vr"/><strong>[[#{view_record}]]:</strong>
                                            </div>
                                            <div class="panel-body">

                                                <div id="vr_result"></div>
                                                <div class=" table-striped table-hover">
                                                    <table class="table doc_table" doc-type="vr">
                                                        <thead>
                                                        <tr>
                                                            <th th:text="#{name_tc}">Name (TC)</th>
                                                            <th th:text="#{name_en}">Name (EN)</th>
                                                            <th th:text="#{update_date}">Update Date</th>
                                                            <th th:text="#{sales_info_post_date}">Post Date</th>
                                                            <th th:text="#{print_date}">Print Date</th>
                                                            <th th:text="#{file}">File</th>
                                                            <th th:text="#{upload_time}">Upload Time</th>
                                                            <th th:text="#{file_size}">File Size</th>
                                                            <th width="10%" th:text="#{edit}">Edit</th>
                                                            <th width="10%" th:text="#{delete}">Delete</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>

                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>

                                            <div class="panel-footer center">
                                                <button type="button" class="btn btn-default add_entry_doc_button"
                                                        th:text="#{add_new_file}"
                                                        value="vr">
                                                    Add New File
                                                </button>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- sales_manual_part -->

                                    <div class="col-lg-12" id="mp_tc">

                                        <div class="panel panel-default">
                                            <div class="panel-heading" th:inline="text">
                                                <a name="mp"/><strong>[[#{sales_manual_part}]]:</strong>
                                            </div>
                                            <div class="panel-body">

                                                <div id="mp_result"></div>
                                                <div class=" table-striped table-hover">
                                                    <table class="table doc_table" doc-type="mp">
                                                        <thead>
                                                        <tr>
                                                            <th th:text="#{name_tc}">Name (TC)</th>
                                                            <th th:text="#{name_en}">Name (EN)</th>
                                                            <th th:text="#{update_date}">Update Date</th>
                                                            <th th:text="#{sales_info_post_date}">Post Date</th>
                                                            <th th:text="#{print_date}">Print Date</th>
                                                            <th th:text="#{file}">File</th>
                                                            <th th:text="#{upload_time}">Upload Time</th>
                                                            <th th:text="#{file_size}">File Size</th>
                                                            <th width="10%" th:text="#{edit}">Edit</th>
                                                            <th width="10%" th:text="#{delete}">Delete</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>

                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                            <div class="panel-footer center">
                                                <button class="btn  btn-default add_entry_doc_button" type="button"
                                                        th:text="#{add_new_file}"
                                                        value="mp">
                                                    Add New File
                                                </button>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- sales_manual_part -->


                                    <!-- sales_manual_full -->

                                    <div class="col-lg-12" id="mp_tc">

                                        <div class="panel panel-default">
                                            <div class="panel-heading" th:inline="text">
                                                <a name="mp"/><strong>[[#{sales_manual_full}]]:</strong>
                                            </div>
                                            <div class="panel-body">

                                                <div id="mf_result"></div>
                                                <div class=" table-striped table-hover">
                                                    <table class="table doc_table" doc-type="mf">
                                                        <thead>
                                                        <tr>
                                                            <th th:text="#{name_tc}">Name (TC)</th>
                                                            <th th:text="#{name_en}">Name (EN)</th>
                                                            <th th:text="#{update_date}">Update Date</th>
                                                            <th th:text="#{sales_info_post_date}">Post Date</th>
                                                            <th th:text="#{print_date}">Print Date</th>
                                                            <th th:text="#{file}">File</th>
                                                            <th th:text="#{upload_time}">Upload Time</th>
                                                            <th th:text="#{file_size}">File Size</th>
                                                            <th width="10%" th:text="#{edit}">Edit</th>
                                                            <th width="10%" th:text="#{delete}">Delete</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>

                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                            <div class="panel-footer center">
                                                <button class="btn  btn-default add_entry_doc_button" type="button"
                                                        th:text="#{add_new_file}"
                                                        value="mf">
                                                    Add New File
                                                </button>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- sales_manual_full -->
                                </fieldset>
                                <!-- price_list -->

                                <fieldset>
                                    <legend th:inline="text">[[#{price_list}]]:</legend>

                                    <div class="row">
                                        <div class="col-lg-12">


                                            <div class="form-group">
                                                <label class="col-md-3 control-label" for="doc_url_pl"
                                                       th:inline="text">[[#{url_hdr_pl}]]:</label>

                                                <div class="col-md-9">
                                                    <input type="url" id="doc_url_pl" name="docUrlPl"
                                                           class="form-control"
                                                           th:value="${entry.docUrlPl}"/>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-lg-12" id="mp_tc">

                                        <div class="panel panel-default">
                                            <div class="panel-heading" th:inline="text">
                                                <a name="mp"/><strong>[[#{price_list}]]:</strong>
                                            </div>
                                            <div class="panel-body">
                                                <div id="pl_result"></div>
                                                <div class=" table-striped table-hover">
                                                    <table class="table doc_table" doc-type="pl">
                                                        <thead>
                                                        <tr>
                                                            <th th:text="#{name_tc}">Name (TC)</th>
                                                            <th th:text="#{name_en}">Name (EN)</th>
                                                            <th th:text="#{update_date}">Update Date</th>
                                                            <th th:text="#{sales_info_post_date}">Post Date</th>
                                                            <th th:text="#{print_date}">Print Date</th>
                                                            <th th:text="#{file}">File</th>
                                                            <th th:text="#{upload_time}">Upload Time</th>
                                                            <th th:text="#{file_size}">File Size</th>
                                                            <th width="10%" th:text="#{edit}">Edit</th>
                                                            <th width="10%" th:text="#{delete}">Delete</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="panel-footer center">
                                                <button class="btn  btn-default add_entry_doc_button" type="button"
                                                        th:text="#{add_new_file}"
                                                        value="pl">
                                                    Add New File
                                                </button>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- price_list -->

                                </fieldset>
                                <!-- sales_arrangement -->
                                <fieldset>
                                    <legend th:inline="text">[[#{sales_arrangement}]]:</legend>
                                    <div class="row">
                                        <div class="col-lg-12">


                                            <div class="form-group">
                                                <label class="col-md-3 control-label" for="doc_url_sa"
                                                       th:inline="text">[[#{url_hdr_sa}]]:</label>

                                                <div class="col-md-9">
                                                    <input type="url" id="doc_url_sa" name="docUrlSa"
                                                           class="form-control"
                                                           th:value="${entry.docUrlSa}"/>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-lg-12" id="mp_tc">

                                        <div class="panel panel-default">
                                            <div class="panel-heading" th:inline="text">
                                                <a name="mp"/><strong>[[#{sales_arrangement}]]:</strong>
                                            </div>
                                            <div class="panel-body">
                                                <div id="sa_result"></div>
                                                <div class=" table-striped table-hover">
                                                    <table class="table doc_table" doc-type="sa">
                                                        <thead>
                                                        <tr>
                                                            <th th:text="#{name_tc}">Name (TC)</th>
                                                            <th th:text="#{name_en}">Name (EN)</th>
                                                            <th th:text="#{update_date}">Update Date</th>
                                                            <th th:text="#{sales_info_post_date}">Post Date</th>
                                                            <th th:text="#{print_date}">Print Date</th>
                                                            <th th:text="#{file}">File</th>
                                                            <th th:text="#{upload_time}">Upload Time</th>
                                                            <th th:text="#{file_size}">File Size</th>
                                                            <th width="10%" th:text="#{edit}">Edit</th>
                                                            <th width="10%" th:text="#{delete}">Delete</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="panel-footer center">
                                                <button class="btn btn-default add_entry_doc_button" type="button"
                                                        th:text="#{add_new_file}"
                                                        value="sa">
                                                    Add New File
                                                </button>
                                            </div>
                                        </div>
                                    </div>


                                </fieldset>
                                <!-- sales_arrangement -->


                                <!-- completed_record -->
                                <fieldset>
                                    <legend th:inline="text">[[#{completed_record}]]:</legend>

                                    <div class="row">
                                        <div class="col-lg-12">


                                            <div class="form-group">
                                                <label class="col-md-3 control-label" for="doc_url_cr"
                                                       th:inline="text">[[#{url_hdr_cr}]]:</label>

                                                <div class="col-md-9">
                                                    <input type="url" id="doc_url_cr" name="docUrlCr"
                                                           class="form-control"
                                                           th:value="${entry.docUrlCr}"/>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-lg-12" id="mp_tc">

                                        <div class="panel panel-default">
                                            <div class="panel-heading" th:inline="text">
                                                <a name="mp"/><strong>[[#{completed_record}]]:</strong>
                                            </div>
                                            <div class="panel-body">
                                                <div id="cr_result"></div>
                                                <div class=" table-striped table-hover">
                                                    <table class="table doc_table" doc-type="cr">
                                                        <thead>
                                                        <tr>
                                                            <th th:text="#{name_tc}">Name (TC)</th>
                                                            <th th:text="#{name_en}">Name (EN)</th>
                                                            <th th:text="#{update_date}">Update Date</th>
                                                            <th th:text="#{sales_info_post_date}">Post Date</th>
                                                            <th th:text="#{print_date}">Print Date</th>
                                                            <th th:text="#{file}">File</th>
                                                            <th th:text="#{upload_time}">Upload Time</th>
                                                            <th th:text="#{file_size}">File Size</th>
                                                            <th width="10%" th:text="#{edit}">Edit</th>
                                                            <th width="10%" th:text="#{delete}">Delete</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="panel-footer center">
                                                <button class="btn btn-default add_entry_doc_button" type="button"
                                                        th:text="#{add_new_file}"
                                                        value="cr">
                                                    Add New File
                                                </button>
                                            </div>
                                        </div>
                                    </div>


                                </fieldset>

                                <fieldset>
                                    <legend th:inline="text">
                                        [[#{mortage}]]:
                                    </legend>


                                    <div class="col-md-12">
                                            <textarea maxlength="2000" class="form-control" rows="10" name="mortage"
                                                      th:text="${entry.mortage}" id="mortage"></textarea>
                                    </div>


                                </fieldset>

                                <fieldset>
                                    <legend style="border: none">&nbsp;</legend>
                                    <div class="row">
                                        <div class="col-md-12 center">
                                            <button class="btn btn-lg btn-default" th:text="#{submit}" type="submit">
                                                Submit
                                            </button>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="modal_forms" th:remove="tag">
    <form id="add_doc_form" th:action="@{'/cms/entry/step_2/'+${entry.id}+'/add_entry_doc'}"
          enctype="multipart/form-data" class="form-horizontal" method="post">
        <div class="modal fade" id="add_doc_modal" tabindex="-1" role="dialog"
             aria-labelledby="add_doc_modal_label" aria-hidden="true" data-show="true">
            <div class="modal-dialg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="add_doc_modal_label"
                            th:text="#{add_new_file}">Add New File</h4>
                    </div>
                    <div class="modal-body">

                        <div id="add_doc_loading" class="loading">
                            <i class="fa fa-spinner fa-spin fa-3x"></i>
                        </div>
                        <div id="add_doc_result"></div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="name_tc"
                                   id="name_tc_label"
                                   th:inline="text">[[#{new_view_record_name_tc}]]:</label>

                            <div class="col-md-9">
                                <input type="text" id="name_tc" name="nameTc"
                                       class="form-control" required="required"/>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-3 control-label" for="name_en"
                                   id="name_en_label"
                                   th:inline="text">[[#{new_view_record_name_en}]]:</label>

                            <div class="col-md-9">
                                <input type="text" id="name_en" name="nameEn"
                                       class="form-control" required="required"/>
                            </div>
                        </div>


                       <!-- <div class="form-group">
                            <label class="col-md-3 control-label" for="name_sc"
                                   id="name_sc_label"
                                   th:inline="text">[[#{new_view_record_name_sc}]]:</label>

                            <div class="col-md-9">
                                <input type="text" id="name_sc" name="nameSc"
                                       class="form-control" required="required"/>
                            </div>
                        </div>-->


                        <div class="form-group" id="update_date_group">
                            <label class="col-md-3 control-label" for="add_update_date"
                                   th:inline="text">[[#{update_date}]]:</label>

                            <div class="col-md-9">
                                <input type="date" id="add_update_date" name="updateDate"
                                       class="form-control datepicker"/>
                            </div>
                        </div>


                        <div class="form-group" id="post_date_group">
                            <label class="col-md-3 control-label" for="add_post_date"
                                   th:inline="text">[[#{sales_info_post_date}]]:</label>

                            <div class="col-md-9">
                                <input type="date" id="add_post_date" name="postDate"
                                       class="form-control datepicker"/>
                            </div>
                        </div>

                        <div class="form-group" id="print_date_group">
                            <label class="col-md-3 control-label" for="add_print_date" id="print_date_label"
                                   th:inline="text">[[#{print_date}]]:</label>

                            <div class="col-md-9">
                                <input type="date" id="add_print_date" name="printDate"
                                       class="form-control datepicker"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="file_tc"
                                   th:inline="text">[[#{upload_new_file}]]:</label>

                            <div class="col-md-9">
                                <input type="file" id="file_tc" name="files[0]"
                                       class="form-control" required="required"/>
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="docType" id="add_doc_type" value="VR"/>
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                                th:text="#{cancel}">Cancel
                        </button>
                        <button id="add_submit" type="submit" class="btn btn-primary"
                                th:text="#{add}">Add
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form id="file_del_form" th:action="@{'/cms/entry/step_2/'+${entry.id}+'/delete_entry_doc'}"
          class="form-horizontal" method="post">
        <div class="modal fade" id="file_del_modal" tabindex="-1" role="dialog"
             aria-labelledby="file_del_modal_label" aria-hidden="true" data-show="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="file_del_modal_label">Delete File</h4>
                    </div>
                    <div class="modal-body">

                        <div id="file_del_loading" class="loading">
                            <i class="fa fa-spinner fa-spin fa-3x"></i>
                        </div>
                        <div id="file_del_result"></div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"
                                   th:inline="text">[[#{name_tc}]]:</label>

                            <div class="col-md-9 form-control-static">
                                <span id="name_tc"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label"
                                   th:inline="text">[[#{name_en}]]:</label>

                            <div class="col-md-9 form-control-static">
                                <span id="name_en"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label"
                                   th:inline="text">[[#{name_sc}]]:</label>

                            <div class="col-md-9 form-control-static">
                                <span id="name_sc"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label"
                                   th:inline="text">[[#{file}]]:</label>

                            <div class="col-md-9 form-control-static">
                                <span id="file"></span>
                            </div>
                        </div>

                        <div class="form-group" id="update_date_group">
                            <label class="col-md-3 control-label" th:inline="text">[[#{update_date}]]:</label>

                            <div class="col-md-9 form-control-static">
                                <span id="update_date"></span>
                            </div>
                        </div>

                        <div class="form-group" id="post_date_group">
                            <label class="col-md-3 control-label" th:inline="text">[[#{sales_info_post_date}]]:</label>

                            <div class="col-md-9 form-control-static">
                                <span id="post_date"></span>
                            </div>
                        </div>

                        <div class="form-group" id="print_date_group">
                            <label class="col-md-3 control-label" id="print_date_label" th:inline="text">[[#{print_date}]]:</label>

                            <div class="col-md-9 form-control-static">
                                <span id="print_date"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" th:inline="text">[[#{upload_time}]]:</label>

                            <div class="col-md-9 form-control-static">
                                <span id="upload_time"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label"
                                   th:inline="text">[[#{file_size}]]:</label>

                            <div class="col-md-9 form-control-static">
                                <span id="size"></span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="entry_doc_id" id="entry_doc_id"/>
                        <input type="hidden" name="docType" id="del_doc_type" value="VR"/>
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                                th:text="#{cancel}">Cancel
                        </button>
                        <button id="del_submit" type="submit" class="btn btn-primary"
                                th:text="#{delete}">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form id="file_rep_form" th:action="@{'/cms/entry/step_2/'+${entry.id}+'/edit_entry_doc'}"
          class="form-horizontal" method="post" enctype="multipart/form-data">
        <div class="modal fade" id="file_rep_modal" tabindex="-1" role="dialog"
             aria-labelledby="file_rep_modal_label" aria-hidden="true" data-show="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="file_rep_modal_label">Edit File</h4>
                    </div>
                    <div class="modal-body">

                        <div id="file_rep_loading" class="loading">
                            <i class="fa fa-spinner fa-spin fa-3x"></i>
                        </div>
                        <div id="file_rep_result"></div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="rep_name_tc"
                                   th:inline="text">[[#{name_tc}]]:</label>

                            <div class="col-md-9">
                                <input type="text" id="rep_name_tc" name="nameTc"
                                       class="form-control" required="required"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="rep_name_en"
                                   th:inline="text">[[#{name_en}]]:</label>

                            <div class="col-md-9">
                                <input type="text" id="rep_name_en" name="nameEn"
                                       class="form-control" required="required"/>
                            </div>
                        </div>

                       <!-- <div class="form-group">
                            <label class="col-md-3 control-label" for="rep_name_sc"
                                   th:inline="text">[[#{name_sc}]]:</label>

                            <div class="col-md-9">
                                <input type="text" id="rep_name_sc" name="nameSc"
                                       class="form-control" required="required"/>
                            </div>
                        </div>-->


                        <div class="form-group" id="update_date_group">
                            <label class="col-md-3 control-label" for="rep_update_date"
                                   th:inline="text">[[#{update_date}]]:</label>

                            <div class="col-md-9">
                                <input type="date" id="rep_update_date" name="updateDate"
                                       class="form-control datepicker"/>
                            </div>
                        </div>


                        <div class="form-group" id="post_date_group">
                            <label class="col-md-3 control-label" for="rep_post_date"
                                   th:inline="text">[[#{sales_info_post_date}]]:</label>

                            <div class="col-md-9">
                                <input type="date" id="rep_post_date" name="postDate"
                                       class="form-control datepicker"/>
                            </div>
                        </div>


                        <div class="form-group" id="print_date_group">
                            <label class="col-md-3 control-label" for="rep_print_date" id="print_date_label"
                                   th:inline="text">[[#{print_date}]]:</label>

                            <div class="col-md-9">
                                <input type="date" id="rep_print_date" name="printDate"
                                       class="form-control datepicker"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label"
                                   th:inline="text">[[#{file}]]:</label>

                            <div class="col-md-9 form-control-static">
                                <span id="file"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" th:inline="text">[[#{upload_time}]]:</label>

                            <div class="col-md-9 form-control-static">
                                <span id="upload_time"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label"
                                   th:inline="text">[[#{file_size}]]:</label>

                            <div class="col-md-9 form-control-static">
                                <span id="size"></span>
                            </div>
                        </div>

                        <!--<div style="height: 1px; border-top: 1px solid #e6e6e6; margin: 5px 0 5px 0"/>-->

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="rep_file"
                                   id="rep_file_label"
                                   th:inline="text">[[#{upload_new_file}]]:</label>

                            <div class="col-md-9">
                                <input type="file" id="rep_file" name="file"
                                       class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="docId" id="entry_doc_id"/>
                        <input type="hidden" name="docType" id="rep_doc_type" value="VR"/>
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                                th:text="#{cancel}">Cancel
                        </button>
                        <button id="rep_submit" type="submit" class="btn btn-primary"
                                th:text="#{update}">
                            Update
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

<div th:replace="fragments/layout::footer_script"></div>

<div th:fragment="scripts" th:remove="tag">

    <script th:src="${@loginController.assetsServer} + '/bower_components/jquery-form/jquery.form.js'"
            type="text/javascript"/>
    <script th:if="${#strings.isEmpty(mode)}"
            th:src="${@loginController.assetsServer} + '/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js'"></script>

    <script th:src="${@ui.assetsServer} + '/bower_components/ckeditor/ckeditor.js'"></script>
    <script th:src="${@ui.assetsServer} + '/bower_components/ckeditor/config.js'"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/


        var delete_vr_file = /*[[#{delete_vr_file}]]*/'delete file';
        var delete_mp_file = /*[[#{delete_mp_file}]]*/'delete file';
        var delete_mf_file = /*[[#{delete_mf_file}]]*/'delete file';
        var delete_pl_file = /*[[#{delete_pl_file}]]*/'delete file';
        var delete_sa_file = /*[[#{delete_sa_file}]]*/'delete file';
        var delete_cr_file = /*[[#{delete_cr_file}]]*/'delete file';

        var replace_vr_file = /*[[#{replace_vr_file}]]*/'replace file';
        var replace_mp_file = /*[[#{replace_mp_file}]]*/'replace file';
        var replace_mf_file = /*[[#{replace_mf_file}]]*/'replace file';
        var replace_pl_file = /*[[#{replace_pl_file}]]*/'replace file';
        var replace_sa_file = /*[[#{replace_sa_file}]]*/'replace file';
        var replace_cr_file = /*[[#{replace_cr_file}]]*/'replace file';

        var vr_name_tc_label = /*[[#{vr_name_tc}]]*/'name (TC)';
        var vr_name_sc_label = /*[[#{vr_name_sc}]]*/'name (SC)';
        var vr_name_en_label = /*[[#{vr_name_en}]]*/'name (EN)';

        var mp_name_tc_label = /*[[#{mp_name_tc}]]*/'name (TC)';
        var mp_name_sc_label = /*[[#{mp_name_sc}]]*/'name (SC)';
        var mp_name_en_label = /*[[#{mp_name_en}]]*/'name (EN)';

        var mf_name_tc_label = /*[[#{mf_name_tc}]]*/'name (TC)';
        var mf_name_sc_label = /*[[#{mf_name_sc}]]*/'name (SC)';
        var mf_name_en_label = /*[[#{mf_name_en}]]*/'name (EN)';

        var pl_name_tc_label = /*[[#{pl_name_tc}]]*/'name (TC)';
        var pl_name_sc_label = /*[[#{pl_name_sc}]]*/'name (SC)';
        var pl_name_en_label = /*[[#{pl_name_en}]]*/'name (EN)';

        var sa_name_tc_label = /*[[#{sa_name_tc}]]*/'name (TC)';
        var sa_name_sc_label = /*[[#{sa_name_sc}]]*/'name (SC)';
        var sa_name_en_label = /*[[#{sa_name_en}]]*/'name (EN)';

        var cr_name_tc_label = /*[[#{cr_name_tc}]]*/'name (TC)';
        var cr_name_sc_label = /*[[#{cr_name_sc}]]*/'name (SC)';
        var cr_name_en_label = /*[[#{cr_name_en}]]*/'name (EN)';

        var delete_titles = {
            vr: delete_vr_file,
            mp: delete_mp_file,
            mf: delete_mf_file,
            pl: delete_pl_file,
            sa: delete_sa_file,
            cr: delete_cr_file
        };
        var replace_titles = {
            vr: replace_vr_file,
            mp: replace_mp_file,
            mf: replace_mf_file,
            pl: replace_pl_file,
            sa: replace_sa_file,
            cr: replace_cr_file
        };

        var name_labes = {
            vr: [vr_name_tc_label, vr_name_sc_label, vr_name_en_label],
            mp: [mp_name_tc_label, mp_name_sc_label, mp_name_en_label],
            mf: [mf_name_tc_label, mf_name_sc_label, mf_name_en_label],
            pl: [pl_name_tc_label, pl_name_sc_label, pl_name_en_label],
            sa: [sa_name_tc_label, sa_name_sc_label, sa_name_en_label],
            cr: [cr_name_tc_label, cr_name_sc_label, cr_name_en_label]
        };

        var _href = cp + "/entry/" + /*[[${'edit' eq mode ? 'edit/' : 'step_2/'}]]*/'step_2/';

        var entry_id = /*[[${entry.id}]]*/0;

        function href(pending, docType) {

            var str = _href;

            if (pending) {
                str += pending;
            } else {
                str += entry_id;
            }

            if (docType && docType.length > 0) {
                str += ('#' + docType.toLowerCase());
            }

            //console.log(str);

            return str;
        }

        var tables = {};
        var dtConfirms = {};

        $(document).ready(function () {

            CKEDITOR.replace('mortage', {});

            if ($(".datepicker").datepicker && !isChrome() && !isOpera()) {
                $(".datepicker").datepicker({
                    format: 'yyyy-mm-dd'
                });
            }

            $(".add_entry_doc_button").click(function () {
                showAddDocModel($(this).val());
            });

            var addDocForm = $('#add_doc_form');

            addDocForm.on('submit', function (ev) {
                ev.preventDefault();

                loading = "#add_doc_loading";

                var message = serverError;
                var docType = $('#add_doc_type').val();


                $(this).ajaxSubmit({
                    success: function (json) {
                        if (json) {
                            message = json.message;
                            if (json.errno == 0) {
                                $('#add_doc_modal').modal('hide');

                                successAlert('#' + docType + '_result', message);

                                //console.log(json.data.pending_id);

                                if (json.data.pending_id && entry_id != json.data.pending_id) {
                                    /*
                                     setTimeout(function () {
                                     location.href = href(json.data.pending_id, docType);
                                     }, 1000);
                                     */

                                    tables[docType].fnDestroy();
                                    var config = docTableConfirm(json.data.pending_id, docType);
                                    //console.log(config);

                                    var tableDiv = $(".doc_table[doc-type=" + docType + "]");
                                    //console.log(tableDiv);


                                    tables[docType] = tableDiv.dataTable(config);
                                } else {

                                    tables[docType]._fnAjaxUpdate();
                                }

                                return;
                            }
                        }
                        failureAlert('#add_doc_result', message);
                    },
                    error: function () {
                        failureAlert('#add_doc_result', message);
                    }
                });
            });


            var fileDelForm = $('#file_del_form');

            fileDelForm.on("submit", function (ev) {
                //console.log("file_del_form on submit");
                ev.preventDefault();

                loading = "#file_del_loading";

                var message = serverError;
                var docType = $('#del_doc_type').val();

                //console.log("file_del_form ajax submit");

                $(this).ajaxSubmit({
                    success: function (json) {
                        //console.log("file_del_form ajax response: " + json)
                        if (json) {
                            message = json.message;
                            if (json.errno == 0) {

                                successAlert('#' + docType + '_result', message);

                                $('#file_del_modal').modal('hide');

                                //console.log(json.data.pending_id);

                                if (json.data.pending_id && entry_id != json.data.pending_id) {
                                    /*
                                     setTimeout(function () {
                                     location.href = href(json.data.pending_id, docType);

                                     }, 1000);
                                     */
                                    tables[docType].fnDestroy();
                                    var config = docTableConfirm(json.data.pending_id, docType);
                                    //console.log(config);

                                    var tableDiv = $(".doc_table[doc-type=" + docType + "]");
                                    //console.log(tableDiv);


                                    tables[docType] = tableDiv.dataTable(config);
                                } else {

                                    tables[docType]._fnAjaxUpdate();
                                }


                                return;
                            }
                        }
                        failureAlert("#file_del_result", message);
                    },
                    error: function () {
                        failureAlert("#file_del_result", message);
                    }
                });
            });


            var fileRepForm = $('#file_rep_form');

            fileRepForm.on("submit", function (ev) {
                ev.preventDefault();

                loading = "#file_rep_loading";

                var message = serverError;

                var docType = $('#rep_doc_type').val();


                $(this).ajaxSubmit({
                    success: function (json) {
                        if (json) {
                            message = json.message;
                            if (json.errno == 0) {
                                $('#file_rep_modal').modal('hide');

                                successAlert('#' + docType + '_result', message);

                                if (json.data.pending_id && entry_id != json.data.pending_id) {
                                    /*
                                     setTimeout(function () {
                                     location.href = href(json.data.pending_id, docType);
                                     }, 1000);
                                     */
                                    tables[docType].fnDestroy();
                                    var config = docTableConfirm(json.data.pending_id, docType);
                                    //console.log(config);

                                    var tableDiv = $(".doc_table[doc-type=" + docType + "]");
                                    //console.log(tableDiv);


                                    tables[docType] = tableDiv.dataTable(config);
                                } else {

                                    tables[docType]._fnAjaxUpdate();
                                }

                                return;
                            }
                        }
                        failureAlert("#file_rep_result", message);
                    },
                    error: function () {
                        failureAlert("#file_rep_result", message);
                    }
                });
            });


            $(".doc_table").each(function (idx, val) {
                var docType = $(val).attr("doc-type");

                var config = docTableConfirm(entry_id, docType);

                var table = $(val).dataTable(config);

                tables[docType] = table;
            });


        });

        function docTableConfirm(entryId, docType) {
            var config = entryDocsDataTableConfirg(cp + "/rest/entry_doc/entry_" + entryId + "/" + docType);

            if ("pl" === docType) {
                config['columnDefs'].push({"visible": false, "targets": 2});
                config['columnDefs'].push({"visible": false, "targets": 3});
            } else if ("sa" === docType) {
                config['columnDefs'].push({"visible": false, "targets": 4});
            } else {
                config['columnDefs'].push({"visible": false, "targets": 2});
                config['columnDefs'].push({"visible": false, "targets": 3});
                config['columnDefs'].push({"visible": false, "targets": 4});
            }

            dtConfirms[docType] = config;

            return config;
        }


        function showAddDocModel(doc) {

            $('#add_doc_form #name_tc_label').html(name_labes[doc][0] + ": ");
            $('#add_doc_form #name_sc_label').html(name_labes[doc][1] + ": ");
            $('#add_doc_form #name_en_label').html(name_labes[doc][2] + ": ");
            $('#add_doc_form #add_doc_type').val(doc);

            $('#add_doc_form').ajaxForm().clearForm();


            $('#add_doc_modal #update_date_group').hide();
            $('#add_doc_modal #post_date_group').hide();
            $('#add_doc_modal #print_date_group').hide();
            if ("pl" == doc) {
                $('#add_doc_modal #print_date_group').show();
            } else if ("sa" === doc) {
                $('#add_doc_modal #post_date_group').show();
                $('#add_doc_modal #update_date_group').show();
            }

            infoAlert('#add_doc_result');
            infoAlert('#' + doc + '_result');


            $('#add_doc_modal').modal('show');
        }

        function showFileDeleteModal(doc, docId) {
            var url = cp + "/rest/entry_doc/" + docId;
            //console.log("entry_doc rest url: " + url);
            $.get(url, function (json, status) {
                //console.log("Status: " + status);
                if ("success" == status && json && json.errno == 0) {
                    $('#file_del_modal_label').html(delete_titles[doc]);

                    $('#file_del_form #name_tc').html(json.data.nameTc);
                    $('#file_del_form #name_en').html(json.data.nameEn);
                    $('#file_del_form #name_sc').html(json.data.nameSc);
                    $('#file_del_form #file').html(json.data.file.name);
                    $('#file_del_form #upload_time').html(showDateFormat(json.data.file.created, dateTimeFormat));
                    $('#file_del_form #size').html(json.data.file.bytes);
                    $("#file_del_form #entry_doc_id").val(docId);
                    $("#del_doc_type").val(doc);

                    $('#file_del_form #update_date_group').hide();
                    $('#file_del_form #post_date_group').hide();
                    $('#file_del_form #print_date_group').hide();
                    if ("pl" == doc) {
                        $('#file_del_form #print_date_group').show();
                        $('#file_del_form #print_date').html(showDateFormat(json.data.printDate, dateFormat));
                    } else if ("sa" === doc) {
                        $('#file_del_form #update_date').html(showDateFormat(json.data.updateDate, dateFormat));
                        $('#file_del_form #post_date').html(showDateFormat(json.data.postDate, dateFormat));

                        $('#file_del_form #post_date_group').show();
                        $('#file_del_form #update_date_group').show();
                    }

                    infoAlert('#del_doc_result');
                    infoAlert('#' + doc + '_result');

                    $('#file_del_modal').modal('show');

                    return;
                }
            });
        }


        function showFileReplaceModal(doc, docId) {
            var url = cp + "/rest/entry_doc/" + docId;
            //console.log("entry_doc rest url: " + url);
            $.get(url, function (json, status) {
                //console.log("Status: " + status);
                if ("success" == status && json && json.errno == 0) {
                    $('#file_rep_modal_label').html(replace_titles[doc]);

                    $('#file_rep_form #rep_name_tc').val(json.data.nameTc);
                    $('#file_rep_form #rep_name_en').val(json.data.nameEn);
                    $('#file_rep_form #rep_name_sc').val(json.data.nameSc);
                    $('#file_rep_form #file').html(json.data.file.name);
                    $('#file_rep_form #upload_time').html(showDateFormat(json.data.file.created, dateTimeFormat));
                    $('#file_rep_form #size').html(json.data.file.bytes);
                    $("#file_rep_form #entry_doc_id").val(docId);
                    $("#rep_doc_type").val(doc);


                    $('#file_rep_form #update_date_group').hide();
                    $('#file_rep_form #post_date_group').hide();
                    $('#file_rep_form #print_date_group').hide();
                    $('#file_rep_form #rep_print_date').val("");
                    $('#file_rep_form #rep_update_date').val("");
                    $('#file_rep_form #rep_post_date').val("");
                    if ("pl" == doc) {
                        $('#file_rep_form #rep_print_date').val(json.data.printDate);

                        $('#file_rep_form #print_date_group').show();
                    } else if ("sa" === doc) {
                        $('#file_rep_form #rep_update_date').val(json.data.updateDate);
                        $('#file_rep_form #rep_post_date').val(json.data.postDate);

                        $('#file_rep_form #post_date_group').show();
                        $('#file_rep_form #update_date_group').show();
                    }

                    infoAlert('#rep_doc_result');
                    infoAlert('#' + doc + '_result');

                    $('#file_rep_modal').modal('show');

                    return;
                }
            });
        }

        /*]]>*/
    </script>
</div>
</body>
</html>