<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout::header">
    <meta charset="UTF-8"/>
    <title></title>
</head>

<body th:with="df=#{datetime.format}">
<div id="wrapper">

    <div th:replace="fragments/nav::nav">

    </div>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" th:text="#{entry_updated_today}">Entry Updated Today</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div th:replace="fragments/layout::messages">
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong th:text="#{entry_updated_today}">Entry Updated Today</strong>
                    </div>
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <table class="table table-striped table-hover" id="dataTables">
                                <thead>
                                <tr>
                                    <th th:text="#{property_entry}">Property Entry</th>
                                    <th th:text="#{creation_time}">Creation Time</th>
                                    <th th:text="#{time_modified}">Time Modified</th>
                                    <th th:text="#{status}">Status</th>
                                    <th th:text="#{edit}">Edit</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/layout::footer_script"></div>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    function entryStatus(status) {
        if ('A' == status) {
            return /*[[#{Entry.status.A}]]*/'Approved';
        } else if ('P' == status) {
            return /*[[#{Entry.status.P}]]*/'Pending';
        } else if ('R' == status) {
            return /*[[#{Entry.status.R}]]*/'Rejected';
        }
        return '';
    }

    $(document).ready(function () {
        var config = entryDataTableConfirg();
        config['sAjaxSource'] = cp + "/rest/entry/updated_today"

        $('#dataTables').dataTable(config);
    });

    /*]]>*/
</script>

</body>
</html>